.crm-dev-stages {
  &.landing-stages {
    margin: 0;
    border: none;

    @media screen and (min-width: $desktop-size) {
      margin: 0;
    }
  }

  .landing-stages__tabs {
    @media screen and (min-width: $tablet-size) {
      display: flex;
    }
  }

  .landing-stages__controls {
    @media screen and (min-width: $tablet-size) {
      max-width: 300px;
      margin: 0 20px 0 0;
    }
  }

  .landing-stages__content {
    @media screen and (min-width: $tablet-size) {
      flex: 1 0 auto;
    }
  }

  .landing-stages__control-button.is-active .landing-stages__control-head {
    @media screen and (min-width: 1024px) {
      margin: 0 0 0 -124px;
    }
  }
}
