header.header
	.container
		.header__content
			a.header__logo-link(href=pageClass=== 'index-page' ? '' : 'index.html')
				span.visually-hidden Ссылка на главную страницу
				+icon('icon-logo', 'header__logo-icon', '202', '29')
