ul.header-social(data-da=".header__actions, 768, 1")
	li.header-social__item
		a.header-social__link(href="#")
			span.visually-hidden Ссылка на Whatsapp
			+icon("icon-whatsapp", "header-social__icon", "15", "15")
	li.header-social__item
		a.header-social__link.header-social__link--telegram(href="#")
			span.visually-hidden Ссылка на Telegram
			+icon("icon-telegram", "header-social__icon", "15", "13")
