ul.header-social
	li.header-social__item
		a.header-social__link(href="#")
			span.visually-hidden Ссылка на Whatsapp
			+icon("icon-whatsapp", "header-social__icon", "15", "15")
	li.header-social__item
		a.header-social__link(href="#")
			span.visually-hidden Ссылка на Whatsapp
			+icon("icon-telegram", "header-social__icon", "15", "13")
