mixin icon(name,mod,width,height)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod width=width height=height)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)