section.crm-efficiency
	.container
		h2.crm-efficiency__title Эффективность использования CRM системы прямо пропорциональна умению сотрудников ею пользоваться
		p.crm-efficiency__text Чтобы получить ощутимый эффект от внедрения CRM-системы на предприятии, ею надо пользоваться. Если Вы не пользуетесь системой автоматизации, то это похоже на ненужную подписку в электронной почте. Письма приходят и приходят, их накапливается несколько десятков, сотен. В конце концов разобрать их не представляется никакой возможности.
		p.crm-efficiency__text То же самое с CRM-системой. Она обращается к вам с напоминаниями, информацией, отчетами, ждет команды и реакции, что ей предпринять в том или ином случае. Когда пользователь знает для каких задач она нужна, какие процессы и для чего она автоматизирует, только в этом случае система становится интуитивно понятной и доступной для восприятия и взаимодействия.
		a.button.crm-efficiency__button(href='#') Задайте нам любые вопросы
