section.crm-efficiency
	.container
		h2.crm-efficiency__title(data-da=".crm-efficiency__box,1280,0") Эффективность использования CRM системы прямо пропорциональна умению сотрудников ею пользоваться
		.crm-efficiency__inner
			.crm-efficiency__box
				p.crm-efficiency__text Чтобы получить ощутимый эффект от внедрения CRM-системы на предприятии, ею надо пользоваться. Если Вы не пользуетесь системой автоматизации, то это похоже на ненужную подписку в электронной почте. Письма приходят и приходят, их накапливается несколько десятков, сотен. В конце концов разобрать их не представляется никакой возможности.
				p.crm-efficiency__text То же самое с CRM-системой. Она обращается к вам с напоминаниями, информацией, отчетами, ждет команды и реакции, что ей предпринять в том или ином случае. Когда пользователь знает для каких задач она нужна, какие процессы и для чего она автоматизирует, только в этом случае система становится интуитивно понятной и доступной для восприятия и взаимодействия.
				a.button.crm-efficiency__button(href='#') Задайте нам любые вопросы
			picture.crm-efficiency__picture
				source(media="(min-width: 1280px)", srcset="static/images/content/crm-efficiency-desktop@1x.png 1x, static/images/content/crm-efficiency-desktop@2x.png 2x")
				source(media="(min-width: 768px)", srcset="static/images/content/crm-efficiency-tablet@1x.png 1x, static/images/content/crm-efficiency-tablet@2x.png 2x")
				img.crm-efficiency__img(src="static/images/content/crm-efficiency-mobile@1x.png", alt="Картинка человека", srcset="static/images/content/crm-efficiency-mobile@2x.png 2x" width="320" height="365")
