section.crm-heading
  .container
    h1.crm-heading__title CRM обучение, курсы по&nbsp;CRM системам
    .crm-heading__slider.swiper
      ul.crm-heading__list.swiper-wrapper
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') Битрикс24
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') amoCRM
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') Разработка ПО
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') Сквозная аналитика
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') БУС
        li.crm-heading__item.swiper-slide
          a.crm-heading__link(href='#') IP-телефония
