section.crm-included
	.container
		h2.crm-included__title Что именно входит в настройку и обучение?
		h3.crm-included__sub-title Существует два опциональных варианта обучения
		ul.crm-included__list
			li.crm-included__item
				.crm-included__heading.crm-included__heading--yellow
					span.crm-included__tarif Бесплатное обучение
					span.crm-included__note Бесплатно!
				ul.crm-included__sub-list
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Как приглашать сотрудников в CRM;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Создание и редактирование лида;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Квалификация и валидации сделки;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Движение лида по этапам, обзор возможной автоматики;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Обработка сделок;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include История лидов и сделок;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Обучение созданию коммерческих предложений;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Выставления счетов;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Статусы счетов и оплаты;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Как настроить электронную почту;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Обучение созданию почтовых шаблонов;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Обучение работе с открытыми линиями;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow', '20', '14')
						p.crm-included__include Обучение настройки отчётов.
				a.button.button--fill.crm-included__button.crm-included__button--yellow Бесплатные материалы
			li.crm-included__item.crm-included__item--gray
				.crm-included__heading.crm-included__heading--purple
					span.crm-included__tarif Платное обучение
					span.crm-included__note 14900 &#8381;
				ul.crm-included__sub-list
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow crm-included__icon-arrow--purple', '20', '14')
						p.crm-included__include Онлайн-вебинары длительностью 5 академических часов (5 занятий) с сертифицированным специалистом с практическим опытом работы по внедрению и разработке CRM не менее 7 лет;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow crm-included__icon-arrow--purple', '20', '14')
						p.crm-included__include Наши специалисты по обучению — играющие тренеры, которые постоянно поддерживают и улучшаю свою квалификацию;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow crm-included__icon-arrow--purple', '20', '14')
						p.crm-included__include Дополнительные материалы для обучения, разработанные в рамках платного курса;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow crm-included__icon-arrow--purple', '20', '14')
						p.crm-included__include Тестирование сотрудников после прохождения авторского курса с получением сертификата установленного образца;
					li.crm-included__sub-item
						+icon('icon-arrow', 'crm-included__icon-arrow crm-included__icon-arrow--purple', '20', '14')
						p.crm-included__include Индивидуальная сессия для руководителя Вашей организации с рекомендациями по дальнейшим шагам — автоматизации бизнеса, ведению отчетности, улучшению процесса продаж и производственных процессов.
				a.button.button--purple.crm-included__button.crm-included__button--purple Заказать обучение
