section.crm-material
  .container
    h2.crm-material__title Вот некоторые из наших бесплатных материалов:
    .crm-material__swiper.swiper
      ul.crm-material__list.swiper-wrapper
        li.crm-material__item.swiper-slide
          .crm-material__inner
            span.crm-material__date 25.02.2018
            h3.crm-material__heading Как начать работу в Битрикс24™ — пошаговая инструкция
            p.crm-material__text К нам обратилась  компания, которая занимается производством эксклюзивной мебели и интерьеров.
            a.crm-material__link(href="#")
              span.crm-material__link-text Подробнее
              +icon('icon-arrow-right', 'crm-material__icon', '7', '12')
        li.crm-material__item.swiper-slide
          .crm-material__inner
            span.crm-material__date 25.02.2020
            h3.crm-material__heading Внедрение amoCRM™ для въездного туризма
            p.crm-material__text К нам обратилась  компания, которая занимается производством эксклюзивной мебели и интерьеров.
            a.crm-material__link(href="#")
              span.crm-material__link-text Подробнее
              +icon('icon-arrow-right', 'crm-material__icon', '7', '12')
        li.crm-material__item.swiper-slide
          .crm-material__inner
            span.crm-material__date 25.02.2018
            h3.crm-material__heading Алгоритм эффективного внедрения amoCRM™
            p.crm-material__text К нам обратилась  компания, которая занимается производством эксклюзивной мебели и интерьеров.
            a.crm-material__link(href="#")
              span.crm-material__link-text Подробнее
              +icon('icon-arrow-right', 'crm-material__icon', '7', '12')
      button.crm-material__nav.crm-material__nav--prev
        +icon('icon-arrow-right', 'crm-material__nav-icon crm-material__nav-icon--prev', '9', '16')
        span.visually-hidden Предыдущий слайд
      button.crm-material__nav.crm-material__nav--next
        +icon('icon-arrow-right', 'crm-material__nav-icon', '9', '16')
        span.visually-hidden Следующий слайд
    button.button.button--purple.crm-material__button Мы расскажем вам больше
