section.crm-video
	.container
		h2.crm-video__title Ознакомьтесь с видеоинструкциями
		ul.crm-video__list
			li.crm-video__item
				.
					<iframe class="crm-video__video" src="https://www.youtube.com/embed/2u1Mb-iKl8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				p.crm-video__text Работа CRM
			li.crm-video__item
				.
					<iframe class="crm-video__video" src="https://www.youtube.com/embed/vYa24wJfMuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				p.crm-video__text Планирование дел
			li.crm-video__item
				.
					<iframe class="crm-video__video" src="https://www.youtube.com/embed/JIMmtzXqo1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				p.crm-video__text Календарь
			li.crm-video__item
				.
					<iframe class="crm-video__video" src="https://www.youtube.com/embed/UfGQB05j-jQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				p.crm-video__text CRM-маркетинг — сегментирование клиентов, рассылки
		button.button.button--purple.crm-video__button Больше бесплатных видео
