.migration-stages {
  &.landing-stages {
    border-bottom: 1px solid $pagination-color;
    margin: 0 0 35px 0;
    padding: 0 0 35px 0;

    @media screen and (min-width: $desktop-size) {
      margin: 0 0 55px 0;
      padding: 0 0 55px 0;
    }
  }

  .landing-stages__title {
    line-height: 26px;
    text-align: left;
    margin: 0 0 20px 0;

    @media screen and (min-width: $desktop-size) {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 30px 0;
    }
  }

  .landing-stages__link {
    color: $black;
    font-size: 16px;
    line-height: 20px;
    text-transform: unset;
    letter-spacing: 0;
    text-decoration: underline;
  }

  .landing-stages__control-button.is-active .landing-stages__number {
    width: 120px;

    @media screen and (min-width: $desktop-size) {
      width: 157px;
    }
  }

  .landing-stages__control-head {
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 34px;
    }
  }

  .landing-stages__control-button.is-active .landing-stages__control-head {
    @media screen and (min-width: $desktop-size) {
      margin: 0 0 0 -155px;
    }
  }

  .landing-stages__controls {
    margin: 0 0 20px 0;

    @media screen and (min-width: $tablet-size) {
      max-width: unset;
    }

    @media screen and (min-width: $desktop-size) {
      margin: 0 45px 0 0;
      max-width: 393px;
    }
  }

  .landing-stages__control:not(:last-child) {
    @media screen and (min-width: $desktop-size) {
      margin: 0 0 20px 0;
    }
  }

  .landing-stages__tabs {
    @media screen and (min-width: $desktop-size) {
      display: flex;
    }
  }

  .landing-stages__content {
    @media screen and (min-width: $desktop-size) {
      flex: 1 0 auto;
    }
  }

  .landing-stages__description {
    @media screen and (min-width: 1440px) {
      max-width: unset;
    }
  }

  .landing-stages__text {
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
