.migration-suggestions {
  .boxed-help__content {
    @media screen and (min-width: $tablet-size) {
      align-items: center;
    }
  }

  .boxed-help__description {
    @media screen and (min-width: $desktop-size) {
      margin: 0 50px 0 0;
      width: auto;
    }
  }

  .boxed-help__form {
    @media screen and (min-width: $desktop-size) {
      width: auto;
    }
  }
}
