section.training
  .container
    .training__wrapper
      .training__aside
        include bitrix-aside
      .training__content
        h1.training__title Обзор интерфейса Битрикс24
        ul.breadcrumbs
          +breadcrumbs-item('Главная','#')
          +breadcrumbs-item('Обучение CRM','#')
          +breadcrumbs-item('Обучение Битрикс24', '#')
          +breadcrumbs-item('Обзор интерфейса')
        ul.training__list.article-list
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 710
            h2.article-list__title Как начать работу в Битрикс24 - пошаговая инструкция
            p.article-list__text Корпоративный портал Битрикс24 предлагает множество инструментов для грамотной организации бизнеса. Немаловажную роль в этом играют автоматизация и широкое использование бизнес-процессов. Если совместить эти 2 понятия, то можно получить автоматизированные бизнес-процессы, значительно повышающие эффективность работы предприятия и снижающие риск ошибок, вызванных человеческим фактором.
            a.article-list__link(href="#") Подробнее
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 729
            h2.article-list__title Пульс компании Битрикс24
            p.article-list__text Обновление программного обеспечения — неотъемлемая часть жизненного цикла большинства технически сложных устройств. Например, в свежих версиях прошивок, производители мобильных телефонов исправляют старые недочеты и добавляют различные возможности.
            a.article-list__link(href="#") Подробнее
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 1193
            h2.article-list__title Подпись в письмах Битрикс24
            p.article-list__text Один из крупных клиентов обратился к нам с задачей настроить чат-бот в открытой линии Битрикс24. В этой статье расскажем вам о том, как подключить чат бот к открытой линии Битрикс24 и как его настроить.
            a.article-list__link(href="#") Подробнее
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 1429
            h2.article-list__title Как войти в Битрикс24
            p.article-list__text Сайт — лицо компании, а значит он должен располагать к себе пользователя с первой секунды. Над удобством и эстетикой сайта трудятся специалисты в разных направлениях: одни стараются сделать его запоминающимся и красивым, а другие — максимально простым и понятным.
            a.article-list__link(href="#") Подробнее
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 729
            h2.article-list__title Как отправить приглашение на почту из календаря Битрикс24
            p.article-list__text Иногда с коробочным Битрикс24 возникает проблема, связанная с быстродействием, когда портал на несколько минут замирает и не отзывается ни на какие действия. Наши клиенты с такими столкнулись и мы начали разбираться. Если у вас есть такая же проблема, то тогда вам будет интересна эта статья.
            a.article-list__link(href="#") Подробнее
          li.article-list__item
            .article-list__top
              span.article-list__hashtag Интерфейс
              span.article-list__views 1193
            h2.article-list__title Разные представления карточек CRM Битрикс24
            p.article-list__text Ранее было неудобно иметь всего два вида карточек CRM Битрикс24, приходилось настраивать одно и тоже разным сотрудникам много раз. Но в итоге появились разные представления карточек, которые можно применить к разным сотрудникам или отделам. В этой статье расскажем про настройку этих представлений.
            a.article-list__link(href="#") Подробнее
        .pagination
          a.pagination__button(href="#") Загрузить еще
          ul.pagination__list
            +pagination-item("text", "#", "Назад")
            +pagination-item("number", false, "1").pagination__link--active
            +pagination-item("number", "#", "2")
            +pagination-item("number", "#", "3")
            +pagination-item("text", "#", "Вперед")
