section.training
	.container
		.training__wrapper
			.training__aside
				include bitrix-aside
			.training__content.article
				h1 Пульс компании - обзор инструмента
				ul.breadcrumbs
					+breadcrumbs-item('Главная','#')
					+breadcrumbs-item('Обучение CRM','#')
					+breadcrumbs-item('Обучение Битрикс24', '#')
					+breadcrumbs-item('Интерфейс', "#")
					+breadcrumbs-item('Пульс компании - обзор инструмента')
				.article__top
					.article__info
						span.article__date 21.02.2021
						span.article__views 710
						span.article__hashtag Интерфейс
				.article__text
					p Корпоративный портал Битрикс24 имеет в своем распоряжении огромное количество инструментов, нацеленных на повышение эффективности работы предприятия. Они направлены на автоматизацию рутинных бизнес-процессов, построение отчетности, контроль за выполнением задач и многое другое. Именно грамотное использование всех возможностей системы делает Битрикс24 такой универсальной и мощной платформой для сопровождения любого бизнеса.
					p Задача руководителя состоит не только в том, чтобы предоставить в распоряжение сотрудников весь необходимый функционал, но и донести до них важность работы с ним. Нередки случаи, когда переход на новую платформу дается персоналу тяжело и он по старинке продолжает использовать привычные методы работы, не задействуя весь потенциал инструментов Битрикс24. Часть работы он ведет на платформе, а часть — нет.
					p Такое положение дел вредит как самому сотруднику, так и всей компании, поэтому нужно принимать меры: вести разъяснительную работу, проводить повторное обучение, повышать мотивацию. Но в самом начале требуется оценить эффективность использования инструментов в компании — выявить те, которые игнорируются чаще всего, а также оценить вовлеченность каждого из сотрудников.
					h2 Как это устроено
					p Пульс компании — инструмент, позволяющий контролировать, насколько полно используется сотрудниками функционал корпоративного портала. Он может отображать как общие показатели активности, так и индивидуальные по каждому сотруднику. Для расчета используются специальные показатели:
					<pre><code class="language-bash">slow_query_log = 1<br>long_query_time = 30<br>	slow_query_log_file = /var/log/mysql/mysql-slow.log<br>log-queries-not-using-indexes = 1
					</code></pre>
					<pre><code class="language-bash"># User@Host: root[root] @ localhost [] Id: 1059409 # Schema: *** Last_errno: 1681 Killed: 0 # Query_time: 84.639710 Lock_time: 0.000000 Rows_sent: 403981 Rows_examined: 403981 Rows_affected: 0 Bytes_sent: 268904581 SET timestamp=1631441462; SELECT /*!40001 SQL_NO_CACHE */ * FROM `b_bp_tracking`;</code></pre>
					ul
						li Рейтинг
						li Активность
						li Вовлеченность
					p Каждый показатель можно рассчитать по нескольким параметрам, в зависимости от отрезка времени, инструмента и пользователя.
					p Рейтинг — отличный инструмент для повышения мотивации сотрудников использовать все возможности Битрикс24. Он рассчитывается на основе индивидуальной активности каждого служащего. Проще говоря — показывает с амых активных пользователей системы. Кроме этого, этот показатель можно отсортировать по каждому инструменту отдельно. Для того, чтобы сотрудник попал в рейтинг по инструменту, он должен использовать его 3 и более раз.
					p Активность — этот показатель определяет насколько активно используются те или иные инструменты. На его основе можно понять, какие именно инструменты используются чаще, а какие игнорируются.
					p Вовлеченность — один из важнейших индикаторов, показывающий насколько полно персонал использует возможности портала. В него попадают все сотрудники, использующие 4 или более инструментов, представленных в «Пульс компании». Все служащие, использующие менее 4 инструментов, попадают во вкладку «Не вовлечены». Оценку вовлеченности можно выполнить за определенный период: сегодня, неделю, месяц или год.
					p Информация, собранная инструментом, подается 2 способами: виджет и пульс. Виджет может отображать только общую статистику по всей компании: активность и вовлеченность. При этом будут выводиться данные, собранные за последний час, а для получения актуальной информации нужно обновить страницу. Для того, чтобы получить полноценную информацию, необходимо нажать на виджет — откроется окно Пульс компании.
					h2 Как пользоваться инструментом
					p В главном окне представлены основные данные, которые можно настроить по своему усмотрению. Например, программа умеет отображать информацию по компании и по конкретному сотруднику. Для этого в левом верхнему углу предусмотрен переключатель «Люди\Компания». Чтобы посмотреть данные по определенному служащему, необходимо перевести переключатель в положение «Люди» и найти сотрудника в поиске, или выбрать его, используя структуру предприятия. Программа отобразит график, состоящий из 4 параметров: график сотрудника, ваш график, график компании и график отдела, к которому приписан сотрудник.
					img(src="static/images/content/artice-img.jpg" alt="Фото в статье" width="730" height="412")
					h2 Краткие итоги
					p Хороший руководитель старается обеспечить своих подчиненных самыми прогрессивными инструментами, помогающими вести бизнес. Современные методы — залог успеха в любом деле, особенно таком сложном, как предпринимательство в различных сферах: производство, логистика, различные услуги, продажи. Но многие забывают о том, что инструменты полезны только тогда, когда они используются. Сам факт их присутствия никак не влияет на результат и успех.
					p Пульс компании помогает оценить то, насколько полно используются инструменты платформы Битрикс24, а значит и пользу от их внедрения. Для руководителя это полезный инструмент оценки вовлеченности сотрудников, а для самих сотрудников может служить хорошей мотивацией более активно использовать возможности площадки. Когда служащий наглядно видит, что он отстает от коллег, или, наоборот, занимает лидирующее место — это хороший стимул повысить свою вовлеченность. Особенно, если он знает, что это же самое видит его начальник.
					.article__author(data-da=".article__top,768,1")
						.article__author-inner
							span.article__author-name Владимир Безюков
							span.article__author-position Руководитель компании
						picture.article__author-picture
							img(src="static/images/content/article-author.jpg" width="50" height="50" alt="Фотография автора")
