.crm-video {
  border-bottom: 1px solid $gray-color;
  padding: 35px 0 60px;
  @media screen and (min-width: $tablet-size) {
    padding: 55px 0 70px;
    text-align: center;
  }
  @media screen and (min-width: $desktop-size) {
    padding: 55px 0 60px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 23px 0;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 33px 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-size) {
      flex-direction: row;
      flex-wrap: wrap;
      margin: -30px -15px 0;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
      padding: 30px 15px 0;
    }
    &:not(:last-child) {
      margin: 0 0 20px 0;
      @media screen and (min-width: $tablet-size) {
        margin: 0;
      }
    }
  }
  &__video {
    height: 100%;
    object-fit: cover;
    min-height: 160px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 185px;
      min-height: 185px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 280px;
      min-height: 280px;
    }
  }
  &__text {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      font-family: $second-font;
      font-weight: 700;
      line-height: 22px;
      margin: 14px 0 0 0;
    }
  }
  &__button {
    margin: 40px 0 0 0;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      margin: 35px auto 0;
      width: auto;
    }
    @media screen and (min-width: $desktop-size) {
      margin: 40px auto 0;
    }
    &:hover {
      color: $black;
    }
  }
}
