section.support-hero
  .container
    .support-hero__content
      .support-hero__inner
        h1.support-hero__title Сопровождение и поддержка Битрикс24
        p.support-hero__text Обеспечиваем полную техподдержку Битрикс24: облачные и&nbsp;коробочные версии. Выберите нас для надёжности и&nbsp;компетентности в&nbsp;управлении порталом
        .support-hero__wrapper
          a.button.button--fill.support-hero__btn(href="#") Заказать
          a.button.button--fill.support-hero__btn(href="#") Узнать подробнее
      .support-hero__img-wrap
        picture
          img(src="static/images/content/support/hero.png" width="420", height="420" alt="Изображение")


