mixin migration-item(options)
  li.migration-offer__item
    h3.migration-offer__heading
      span.migration-offer__number!=options.number
      span.migration-offer__head!=options.head
    .migration-offer__inner
      p.migration-offer__text!=options.text

section.support-included
  .container
    .support-included__content
      h2.support-included__title Что входит в сопровождение?
      ul.migration-offer__list
        +migration-item({
          number: '01',
          head: 'Техническая поддержка',
          text: 'Полное сопровождение сайтов и корпоративных порталов на 1С-Битрикс. Обновление системы, резервное копирование и мониторинг работоспособности ресурса. Своевременно реагирование на нештатные ситуации и сбои.'
        })
        +migration-item({
          number: '02',
          head: 'Ускорение работы',
          text: 'Мы имеем огромный опыт развития сайтов и корпоративных порталов с точки зрения пользователей и поисковых систем. Можем взять на себя все работы, начиная от исправления вёрстки и заканчивая оптимизации базы данных.'
        })
        +migration-item({
          number: '03',
          head: 'Оптимизация ресурсов',
          text: 'Постепенно сайты и порталы разрастаются, скорость работы падает, дискового пространства не хватает. Наши специалисты сопровождают ваш проект, вовремя реагируют и устраняют узкие места системы.'
        })
        +migration-item({
          number: '04',
          head: 'Консультации',
          text: 'Обладаем экспертными знаниями в области развития продаж и построения бизнес-процессов. Консультируем ваших менеджеров по продажам, выявляем слабые стороны представления услуг и продуктов в сети, увеличиваем ЦА, применяя современные технологии и методы оптимизации. '
        })
        +migration-item({
          number: '05',
          head: 'Обучение сотрудников',
          text: 'Эффективность работы продукта и то, какой выхлоп вы получаете от внедрения в вашей компании CRM Битрикс24 – прямо пропорциональны тому, насколько ваши сотрудники умеют пользоваться его инструментарием. Обучим всем нюансам работы с системой, подняв эффективность работы на новый уровень. '
        })
        +migration-item({
          number: '06',
          head: 'Интеграции',
          text: 'В портфеле нашей компании более 500 реализованных порталов и сайтов, построенных на 1С-Битрикс и тысячи интеграций. Мы быстро разберемся в проблеме или настроим новую интеграцию. Большой опыт прояснения обмена платформы Битрикс с платформой 1С.'
        })


