section.support-needs
  .container
    .support-needs__content
      h2.support-needs__title Кому нужно сопровождение?
      p.support-needs__text Решаем все вопросы по&nbsp;Битрикс24, устраняем неполадки, осуществляем регулярный аудит системы без лишних запросов.
      .support-needs__wrapper
        ul.crm-dev-advantages__list
          li.crm-dev-advantages__item
            span.crm-dev-advantages__number 01
            .crm-dev-advantages__inner
              h3.crm-dev-advantages__heading Только подключили Битрикс24
              p.crm-dev-advantages__text В&nbsp;любой развивающейся компании постоянно появляются новые или трансформируются текущие процессы, которые нужно переносить на&nbsp;Битрикс24, чтобы поддерживать систему.
          li.crm-dev-advantages__item
            span.crm-dev-advantages__number 02
            .crm-dev-advantages__inner
              h3.crm-dev-advantages__heading Давно пользуюсь Битрикс24
              p.crm-dev-advantages__text В&nbsp;процессе работы с&nbsp;Битрикс24 регулярно возникают вопросы консультационного характера, а&nbsp;техподдержка Битрикса отвечает очень долго и&nbsp;не&nbsp;всегда дает внятный ответ.
        .support-needs__img-wrap
          picture
            img(src="static/images/content/support/needs-block.png" width="280", height="280" alt="Изображение")
