section.support-options
  .container
    h2.support-options__title Гибкие варианты абонентского обслуживания
    p.support-options__heading Помимо готовых пакетов, мы осуществляем работу на основании двух видов договоров сопровождения информационной системы:
    .support-options__content
      ul.support-options__list
        li.support-options__item
          .support-options__left
            span.support-options__name Только Битрикс24
            span.support-options__time 1 месяц
          span.support-options__price.support-options__price--yellow 16&nbsp;800&nbsp;₽
        li.support-options__item
          .support-options__left
            span.support-options__name Битрикс24 + сайт компании
            span.support-options__time 1 месяц
          span.support-options__price.support-options__price--purple 35&nbsp;000&nbsp;₽
      .support-options__description
        p.support-options__text Работа в&nbsp;рамках договора обслуживания удобна при наличии постоянного блока задач, который нужно решать. Вы&nbsp;авансируете ежемесячный платеж и&nbsp;на&nbsp;основании этого:
        ul.support-options__text-list
          li.support-options__text-item
            p.support-options__note Работаете со&nbsp;специалистами по&nbsp;задачам, а&nbsp;они фиксируют выполнение по&nbsp;часам.
          li.support-options__text-item
            p.support-options__note По&nbsp;завершению месяца готовится акт и&nbsp;счет на&nbsp;доплату, если требуется.
          li.support-options__text-item
            p.support-options__note Если обращений было меньше, чем аванс, он&nbsp;не&nbsp;возвращается. Тарификация зависит от&nbsp;специалиста, который работает над задачей (подробнее в&nbsp;договоре).
    a.support-options__link(href="#") Свяжитесь с нами для уточнения деталей


