section.support-price
  .container
    h2.support-price__title Стоимость сопровождения Битрикс24
    .support-price__accordion(data-accordion="parent", data-single, data-close-inner, data-destroy="(max-width: 1023px)")
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--gray
          .support-price__inner.support-price__inner--gray
            h3.support-price__name Пакет “Минимальный”
            span.support-price__time 1 месяц, 10 часов
          .support-price__wrap
            span.support-price__price 32 000 ₽
            span.support-price__note 3 200 ₽ - стоимость работы часа
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Ответы на запросы за 3 минуты
              li.support-price__item
                span.support-price__desc Ежедневное администрирование портала
            a.support-price__link.button.button--purple(href="#") Хочу заказать
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--yellow
          .support-price__inner.support-price__inner--yellow
            h3.support-price__name Пакет “Оптимальный”
            span.support-price__time 2 месяца, 20 часов
          .support-price__wrap
            span.support-price__price 60 000 ₽
            span.support-price__note 3 000 ₽ - стоимость работы часа
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Ответы на запросы за 3 минуты
              li.support-price__item
                span.support-price__desc Ежедневное администрирование портала
              li.support-price__item
                span.support-price__desc Настройка Битрикс24 (CRM, корп.портал)
            a.support-price__link.button.button--purple(href="#") Хочу заказать
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--purple
          .support-price__inner.support-price__inner--purple
            h3.support-price__name Пакет “Премиум”
            span.support-price__time 3 месяца, 40 часов
          .support-price__wrap
            span.support-price__price 112 000 ₽
            span.support-price__note 2 800 ₽ - стоимость работы часа
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Ответы на запросы за 3 минуты
              li.support-price__item
                span.support-price__desc Ежедневное администрирование портала
              li.support-price__item
                span.support-price__desc Настройка Битрикс24 (CRM, корп.портал)
              li.support-price__item
                span.support-price__desc Техническое сопровождение Битрикс24
            a.support-price__link.button.button--purple(href="#") Хочу заказать
    a.support-price__footer(href="#") Помочь с подбором подходящего тарифа
