section.support-review
  .container
    h2.support-review__title Отзывы наших клиентов:
    ul.support-review__list
      li.support-review__item
        .support-review__image
          picture
            img(src="static/images/content/support/review-1.png" width="280", height="380" alt="Изображение")
        a.support-review__link(href="#") Смотреть отзывы Yandex
      li.support-review__item
        .support-review__image
          picture
            img(src="static/images/content/support/review-2.png" width="280", height="380" alt="Изображение")
        a.support-review__link(href="#") Смотреть отзывы Google
