section.support-why-are-we
  .container
    .support-why-are-we__content
      h2.support-why-are-we__title Почему интегратор, а не штатный сотрудник?
      ul.support-why-are-we__list
        li.support-why-are-we__item
          .support-why-are-we__top
            span.support-why-are-we__icon
              +icon("icon-clock", false, 24, 24)
            h3.support-why-are-we__name Экономия времени
          .support-why-are-we__text Экономьте время, избегая поиска специалистов и&nbsp;обучения пользователей. Сосредоточьтесь на&nbsp;бизнесе, доверяя нам заботу о&nbsp;сопровождении портала.
        li.support-why-are-we__item
          .support-why-are-we__top
            span.support-why-are-we__icon
              +icon("icon-cloud-2", false, 24, 24)
            h3.support-why-are-we__name Надежность
          .support-why-are-we__text Мы&nbsp;гарантируем стабильность: не&nbsp;уходим в&nbsp;отпуска, не&nbsp;меняем работу и&nbsp;не&nbsp;болеем. Всегда имеем в&nbsp;запасе специалистов для надежного замещения.
        li.support-why-are-we__item
          .support-why-are-we__top
            span.support-why-are-we__icon
              +icon("icon-men2", false, 24, 24)
            h3.support-why-are-we__name Компетенция
          .support-why-are-we__text Обладаем глубоким пониманием системы и&nbsp;бизнес-потребностей. Оперативно осваиваем обновления и&nbsp;новые функции Битрикс24.
        li.support-why-are-we__item
          .support-why-are-we__top
            span.support-why-are-we__icon
              +icon("icon-comp2", false, 24, 24)
            h3.support-why-are-we__name Готовые инструменты
          .support-why-are-we__text Мы&nbsp;предлагаем вам арсенал проверенных инструментов, готовых к&nbsp;использованию для эффективного развития вашего бизнеса.

