section.landing-stages.migration-stages.mobile-development-stages.crm-dev-stages
  .container
    .landing-stages__content
      h2.landing-stages__title Как мы работаем?
    .landing-stages__tabs(data-tabs='parent', data-delay='150')
      ul.landing-stages__controls(data-tabs='controls')
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-01", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Знакомство
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-02", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Выявление требований и ожиданий
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-03", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Аудит портала
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-04", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Выбор пакета сопровождения
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Тех.работы и оказание услуг
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Отчет в конце периода
      ul.landing-stages__content(data-tabs='content')
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p В удобное для вас время, проведем ZOOM-конференцию или приедем к вам в офис для подробного интервью, задокументируем ваши пожелания и подпишем NDA. 
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.

