section.settings-for-what.settings-advantages
  .container
    .settings-for-what__content
      h2.settings-for-what__title Почему стоит обратиться к нам
      ul.settings-for-what__list
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-business2", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Опыт более 9 лет
          p.settings-for-what__text За это время мы многому научились и умеем правильно понять и оценить потребности клиента, предложив верное решение.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-lock", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Надёжно
          p.settings-for-what__text В отличие от частников, мы заключим с вами официальный договор с синей печатью. Мы за официальную и прозрачную документацию.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-growth-graph", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Продажи растут
          p.settings-for-what__text Огромный опыт в продажах позволяет с уверенностью сказать: “С нами Вы можете продать больше, работать эффективнее”.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-time2", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Комплексный подход
          p.settings-for-what__text Кроме CRM, мы занимаемся разработкой мобильных приложений, веб приложений, сайтов, оказывая “под ключ” целый ряд IT-услуг.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-like1", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Очевидные результаты
          p.settings-for-what__text Мы информируем клиента о всех действиях, что позволяет быть в курсе, куда движется проект и какие прогнозируются результаты.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-goal-1", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Наша цель
          p.settings-for-what__text Цель нашей работы - Ваши успехи: продажи, клиенты и дополнительная прибыль, полученная в результате проделанной работы.
