section.settings-digital
  .container
    .settings-digital__content
      .settings-digital__inner
        +icon("integr-men", "settings-digital__icon", "29", "100")
        .settings-digital__wrapper
          h2.settings-digital__title Digital инструменты у вас на службе
          p.settings-digital__note Все для автоматизации ежедневных рутинных задач, и&nbsp;даже больше!
      ul.settings-digital__list
        li.settings-digital__item
          span.settings-digital__number 01
          .settings-digital__box
            h3.settings-digital__heading Объединение каналов продаж
            .settings-digital__text
              p Единая база всех контактов, клиентов, задач и сделок
              p Интеграция с телефонией, звонки прямо из CRM
        li.settings-digital__item
          span.settings-digital__number 02
          .settings-digital__box
            h3.settings-digital__heading Повышение контроля
            .settings-digital__text
              p Контроль менеджеров, персональная мобильность
              p Статистика и отчетность, построение графиков
        li.settings-digital__item
          span.settings-digital__number 03
          .settings-digital__box
            h3.settings-digital__heading Рост прибыли
            .settings-digital__text
              p Интеграция с сайтом и социальными сетями
              p Автоматика балансировки нагрузки на менеджеров
        li.settings-digital__item
          span.settings-digital__number 04
          .settings-digital__box
            h3.settings-digital__heading Автоматизация
            .settings-digital__text
              p Автоматизированное создание документов
              p Автоматический расчёт эффективности
