section.settings-faq
  .container
    .settings-faq__title Частые вопросы о внедрении CRM
    .settings-faq__accordion(data-accordion="parent", data-single, data-close-inner)
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как зарегистрировать Битрикс24
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Для начала регистрации перейдите на главную страницу «Битрикс24» и нажмите на кнопку «Вход», расположенную в верхнем правом углу. Сервис предлагает несколько вариантов регистрации портала: классический с помощью электронной почты и современный — с использованием аккаунта в социальных сетях. Мы рекомендуем использовать адрес электронной почты, как наиболее удобный и надежный способ.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как выбрать тариф?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesentium provident quae quis quod quos ratione ullam vel veniam vitae voluptates! Adipisci aliquid aut beatae culpa deserunt dignissimos dolores, eaque, enim ex explicabo, inventore laboriosam modi molestiae nihil nisi non odio pariatur perspiciatis possimus quibusdam quisquam quos repellendus reprehenderit sapiente similique voluptas voluptate voluptatibus. Animi at beatae debitis et harum iusto maiores nihil provident quam quas quibusdam sit soluta suscipit, tenetur!
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Какой телефон техподдержки
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesenti
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли внутри одного Битрикс24 вести несколько компаний?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesenti
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как обучиться Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesenti
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько стоит внедрение?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesenti
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько стоит Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            p.settings-faq__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores debitis distinctio eaque hic, quam ratione veniam. At beatae culpa deserunt, dicta ducimus esse eum illo in incidunt iusto maiores maxime minima minus natus nobis pariatur placeat praesenti
