section.settings-faq
  .container
    .settings-faq__title Частые вопросы о внедрении CRM
    .settings-faq__accordion(data-accordion="parent", data-single, data-close-inner)
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как зарегистрировать Битрикс24
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Для начала регистрации перейдите на главную страницу «Битрикс24» и нажмите на кнопку «Вход», расположенную в верхнем правом углу. Сервис предлагает несколько вариантов регистрации портала: классический с помощью электронной почты и современный — с использованием аккаунта в социальных сетях. Мы рекомендуем использовать адрес электронной почты, как наиболее удобный и надежный способ.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как выбрать тариф?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p При выборе тарифа в первую очередь нужно обратить внимание на потребности, которые вы планируете закрыть. Сервис предлагает несколько тарифов, нацеленных на разные масштабы и нужды предприятия.
              p В самом начале следует определиться с редакцией: коробочная или облачная. Коробочная редакция — это годовая лицензия, позволяющая установить портал на собственный сервер. Она имеет больше возможностей, но требует самостоятельного развертывания и настройки на своем оборудовании. Подойдет для компаний, у которых в приоритете конфиденциальность, а для работы требуются нестандартные решения. Облачная редакция не требует собственных мощностей и работает на серверах «Битрикс24», а большинство типовых настроек можно выполнить самостоятельно.
              p В каждой редакции присутствует по 3 тарифа, главное различие которых заключается в количестве сотрудников, дисковом пространстве и наборе доступных инструментов. Чем больше сотрудников и возможностей — тем выше цена.
              p Оплата за лицензию коробочной редакции осуществляется сразу за год, с возможностью последующего продления. Облачную редакцию можно оплачивать помесячно, при оплате сразу на больший срок предусмотрены скидки.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Какой телефон техподдержки
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Модель распространения программного обеспечения компании «Битрикс24» не предполагает самостоятельного внедрения продуктов. Для этого используется сеть авторизованных партнеров, которые берут на себя ответственность за консультацию и обеспечение технической поддержки своих клиентов.
              p Для всех пользователей «Битрикс24» работают технические специалисты, связаться с которыми можно исключительно в рабочее время в режиме чата. Кроме этого, предусмотрены и другие варианты технической поддержки — с использованием инструментов портала, но и они не включают в себя консультации по телефону.
              p Если вам требуется проконсультироваться по вопросам, касающимся развертывания и настройки «Битрикс24», а также любым другим вопросам, связанным с внедрением CRM и техническим обеспечением бизнеса — звоните нам. Мы — золотой сертифицированный партнер «Битрикс24» и более 10 лет помогаем бизнесу, обеспечивая его необходимыми IT-решениями.
              p Наши телефоны:
              ul
                li
                  span Санкт-Петербург: +7 (812) 209-27-97
                li
                  span Москва: +7 (495) 109-27-97
                li
                  span Звонок по России: +7 800 600 85 81
              p Консультируем по вопросам приобретения, внедрения и эксплуатации CRM и других систем автоматизации.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли внутри одного Битрикс24 вести несколько компаний?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как обучиться Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p «Битрикс24» — очень популярный сервис. Благодаря этому, в сети есть множество материалов, которые можно использовать для самостоятельного обучения. Недостатком такого подхода принято считать отсутствие систематики и довольно часто меняющиеся условия платформы: найденный материал может быть уже устаревшим. Тем не менее, обладая достаточным запасом времени и упорством, «Битрикс24» возможно изучить самостоятельно.
              p Альтернативой самостоятельному обучению выступают курсы авторизированных партнеров — сертифицированных специалистов. Это систематизированная подача информации в необходимом объеме. Их преимуществом является актуальность информации и ее дозированность — можно изучать только то, что потребуется для выполнения определенных действий.
              p Такой способ хорошо подходит для подготовки сотрудников, которым незачем знать все о «Битрикс24», а достаточно обладать знаниями в рамках своих обязанностей. Это экономит время на обучении и ускоряет процесс подготовки сотрудников. Такие курсы, как правило, проходят после внедрения «Битрикс24» на новое предприятие.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько стоит внедрение?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Стоимость внедрения зависит от множества условий и не имеет фиксированной ставки — все рассчитывается индивидуально для каждого клиента. В ряде случаев внедрение может быть выполнено бесплатно: обычно при покупке определенной лицензии или заключении договора на оказание технической поддержки.
              p Вот что может влиять на итоговую стоимость:
              ul
                li
                  span базовая настройка «под ключ»;
                li
                  span настройка дополнительного функционала и интеграция со сторонними сервисами;
                li
                  span доработки под определенные задачи;
                li
                  span очное и заочное обучение персонала;
                li
                  span разработка индивидуального приложения и дополнительного ПО.
              p Окончательную стоимость можно рассчитать только после выполнения анализа и формирования технического задания. Очевидно, что нетиповые и сложные решения стоят дороже, а стандартные проекты — дешевле. Примерную стоимость мы можем озвучить уже на стадии консультаций. Для этого позвоните или напишите нам по указанным на сайте контактам.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько стоит Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p «Битрикс24» нацелен на различные сегменты бизнеса, поэтому предлагает своим пользователям широкую линейку тарифов. Продукт поставляется в 2 редакциях: облачные решения и коробочные. Коробочные решения нужно разворачивать на собственных серверах, а облачные работают на серверах «Битрикс24». Стоимость и способы оплаты у них — разные.
              p Коробочная редакция оплачивается сразу на год с возможностью дальнейшего продления. В стоимость входит техническая поддержка, получение всех обновлений системы в течение оплаченного периода и функционал, предусмотренный лицензией. После истечения лицензии, если ее не продлить, работоспособность портала сохранится, но с рядом значительных ограничений.
              p Коробочные лицензии и их стоимость за год:
              ul
                li
                  span Интернет-магазин + CRM — 99 000 руб;
                li
                  span Корпоративный портал — от 139 000 до 499 000 руб., в зависимости от числа пользователей;
                li
                  span Энтерпрайз — 999 000 + 399 000 руб. (подписка на год)
              p Кроме этого, в стоимость внедрения нужно заложить покупку или аренду сервера, а также расходы на оплату работы специалистов по развертыванию и настройке.
              p Стоимость облачных тарифов зависит от периода единовременной оплаты — если оплачивать сразу 1 или 2 года, то предоставляется скидка в 20% и 30% соответственно. Если оплачивать помесячно, то стоимость будет следующая:
              ul
                li
                  span Базовый — 2 490 руб;
                li
                  span Стандартный — 5 990 руб;
                li
                  span Профессиональный — 11 990 руб.
              p Помимо оплаты тарифа существует и ежемесячная подписка на Битрикс24.Маркет. Она понадобится, если вы решите расширить встроенные возможности за счет установки приложений сторонних разработчиков.
