section.settings-for-what
  .container
    .settings-for-what__content
      h2.settings-for-what__title Для чего нужен корпоративный портал Битрикс24
      h2.settings-for-what__subtitle Цифровое будущее прямо сейчас!
      ul.settings-for-what__list
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-peoples", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Лиды и сделки
          p.settings-for-what__text Ваши менеджеры продаж больше никогда не упустят заявку, не потеряют звонок или письмо, все коммуникации с клиентом в одном месте.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-business", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Бизнес-процессы
          p.settings-for-what__text Автоматические маршруты для документов, получайте уведомления о выполнении поручений или об их задержке.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-list", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Задачи и проекты
          p.settings-for-what__text Агрегируйте всю информацию по проекту или длительной сделке внутри общего адресного пространства. Поручайте задачи и контролируйте результат.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-time", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Экономия времени
          p.settings-for-what__text Периодические задачи будут выполняться автоматически, регулярные сделки будут создаваться без участия менеджнра, лишь напоминая о контроле.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-document", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Генерация документов
          p.settings-for-what__text Больше не нужно тратить время на создание договоров и приложений по сделкам. Битрикс24 сгенерирует нужный документ по клику или автоматически.
        li.settings-for-what__item
          .settings-for-what__heading
            span.settings-for-what__icon-box
              +icon("icon-accounting", "settings-for-what__icon", "26", "26")
            h3.settings-for-what__head Контроль и учет
          p.settings-for-what__text Все письма, чаты, звонки, дела и задачи, выполненные сотрудником, сохраняются в ленте CRM. Фильтруйте по событию или сотруднику и получайте отчет!
      .settings-for-what__button-box
        a.button.button--fill.settings-for-what__button(href="#") Заказать внедрение CRM
