section.settings-office
  .container
    .settings-office__content
      h2.settings-office__title Настройка Битрикс24 у вас в офисе
      p.settings-office__note Значительно эффективнее удалённого внедрения
      ul.settings-office__list
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 01
            h3.settings-office__heading Подготовка к настройке
          p.settings-office__inner Приезжаем к Вам в офис в удобное время, выясняем цели и задачи, возлагаемые на систему, демонстрируем Вам Битрикс24, показываем примеры решений ваших задач.
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 02
            h3.settings-office__heading Начальный этап
          p.settings-office__inner Проводим анализ ваших процессов и задач. Подбираем редакцию Битрикс24, рассчитываем эффективность, составляем техническое задание и договор.
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 03
            h3.settings-office__heading Удаленная настройка
          p.settings-office__inner Регистрируем Ваш портал Битрикс24, приглашаем сотрудников и руководителей, создаем структуру компании и загружаем типовые документы.
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 04
            h3.settings-office__heading Настройка и обучение CRM
          p.settings-office__inner Настраиваем CRM под Ваши требования, проводим несколько последовательных занятий с Вашими сотрудниками и руководителями.
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 05
            h3.settings-office__heading Аналитика и маркетинг
          p.settings-office__inner На основе данных Битрикс24, настраиваем для Вас необходимые аналитические отчеты. Помогаем наладить повторные продажи через CRM-маркетинг.
        li.settings-office__item
          .settings-office__head
            span.settings-office__number 06
            h3.settings-office__heading Развитие и поддержка
          p.settings-office__inner Оказываем регулярную техподдержку, а также готовим индивидуальное обучающее видео для новых сотрудников.
      .settings-office__promo
        h2.settings-office__promo-title Бесплатно зарегистрируй Битрикс24
        h2.settings-office__promo-note по короткому адресу: #[a(href="http://BTX.BZ" target="_blank") http://BTX.BZ]
        h2.settings-office__promo-gift и получи месяц обслуживания и техподдержки в подарок!


