section.settings-promo
  .container
    .settings-promo__content
      h2.settings-promo__title Реальные скидки по промокоду “#[span ID]” при регистрации и в бесплатных порталах
      p.settings-promo__note Для молодых предпринимателей и небольших компаний - льготные условия на внедрение и обучение. Бесплатно регистрируй на #[a(href="btx.bz" target="_blank") btx.bz]
      form.settings-promo__form(action="#" method="POST")
        input.settings-promo__input._phone-mask(type="phone" name="settingsPromoPhone" placeholder="+7 ( ___ )  ___ - __ - __")
        a.button.button--purple.settings-promo__button(href="#") Получить скидку
