section.settings-success
  .container
    .settings-success__content
      h2.settings-success__title Причины успеха Битрикс24
      p.settings-success__note Позволяет зарабатывать больше при соизмеримых вложениях
      ul.settings-success__list
        li.settings-success__item
          p.settings-success__heading #[span на] 5-10%
          p.settings-success__text в среднем меньше потерянных клиентов
        li.settings-success__item
          p.settings-success__heading #[span на] 25-30%
          p.settings-success__text сокращается время на выполнение рутинных операций
        li.settings-success__item
          p.settings-success__heading #[span на] 15-20%
          p.settings-success__text повышается средняя маржинальность сделок
        li.settings-success__item
          p.settings-success__heading #[span на] 5-7%
          p.settings-success__text повышается эффективность повторных продаж
      .settings-success__button-box
        a.button.button--fill.settings-success__link Заказать настройку Битрикс24
