section.settings-think
  .container
    .settings-think__content
      h2.settings-think__title Думайте о клиенте
      p.settings-think__note Работа с клиентами станет проще и эффективнее
      .settings-think__inner
        ul.settings-think__list
          li.settings-think__item
            span.settings-think__number 01
            .settings-think__item__box
              h3.settings-think__heading Цифровое будущее
              p.settings-think__text Битрикс24 позволяет оцифровать все процессы в компании, сделав их понятными и прозрачными для сотрудников и руководителей.
          li.settings-think__item
            span.settings-think__number 02
            .settings-think__item__box
              h3.settings-think__heading Станьте ближе
              p.settings-think__text Автоматизация рутины с помощью Битрикс24 позволит вашим сотрудникам уделять больше времени вашим любимым клиентам.
          li.settings-think__item
            span.settings-think__number 03
            .settings-think__item__box
              h3.settings-think__heading Давайте больше
              p.settings-think__text Интеграция Битрикс24 в компанию, это новый уровень коммуникации между сотрудниками и клиентами, выводящий бизнес на новый этап.
        picture.settings-think__picture
          source(media="(min-width: 1280px)", srcset="static/images/content/settings/think-desktop.png")
          img.settings-think__img(src="static/images/content/settings/think-tablet.png" width="331" height="372" alt="Картинка человека с ноутбуком")
