section.settings-why-choice
  .container
    .settings-why-choice__content
      h2.settings-why-choice__title Почему стоит выбрать Битрикс24
      ul.settings-why-choice__list
        li.settings-why-choice__item.is-active
          span.settings-why-choice__number 01
          .settings-why-choice__box
            h3.settings-why-choice__heading Автоматизация бизнеса
            p.settings-why-choice__text Самый полный и удобный набор инструментов для автоматизации бизнеса на сегодняшний день.
        li.settings-why-choice__item
          span.settings-why-choice__number 02
          .settings-why-choice__box
            h3.settings-why-choice__heading Воронка продаж
            p.settings-why-choice__text Битрикс24 автоматически собирает все заявки и запросы Ваших клиентов по всем каналам и добавляет их в воронку продаж.
        li.settings-why-choice__item
          span.settings-why-choice__number 03
          .settings-why-choice__box
            h3.settings-why-choice__heading Интеграция сервисов
            p.settings-why-choice__text Битрикс24 интегрируется с более чем 50 провайдерами телефонии, сайтами, мессенджерами, соцсетями и сервисами.
        li.settings-why-choice__item
          span.settings-why-choice__number 04
          .settings-why-choice__box
            h3.settings-why-choice__heading Сокращение издержек
            p.settings-why-choice__text Корпоративные коммуникации и бизнес-процессы позволяют автоматизировать рутинную работу и сократить издержки внутри компании.
        li.settings-why-choice__item
          span.settings-why-choice__number 05
          .settings-why-choice__box
            h3.settings-why-choice__heading Бесплатный тариф
            p.settings-why-choice__text Удобное пакетное лицензирование значительно дешевле конкурентов. Бесплатная полнофункциональная версия для небольших компаний.
