section.about-company-certificate
  .container
    .about-company-certificate__content
      h2.about-company-certificate__title Входим в пятерку крупнейших интеграторов Битрикс24
      p.about-company-certificate__text Имеем более 64 дипломов и сертификатов
      .main-areas.about-company-certificate__tabs(data-tabs="parent" data-delay="300")
        .main-areas__controls.swiper
          ul.main-areas__controls-list.swiper-wrapper(data-tabs="controls")
            li.main-areas__controls-item.swiper-slide
              a.main-areas__controls-link(data-tabs="control") Все
            li.main-areas__controls-item.swiper-slide
              a.main-areas__controls-link(data-tabs="control") Дипломы
            li.main-areas__controls-item.swiper-slide
              a.main-areas__controls-link(data-tabs="control") Сертификаты
        .about-company-certificate__elements(data-tabs="content")
          .about-company-certificate__inner.swiper(data-tabs="element")
            ul.about-company-certificate__list.swiper-wrapper
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
            .about-company-certificate__nav-bullets
          .about-company-certificate__inner.swiper(data-tabs="element")
            ul.about-company-certificate__list.swiper-wrapper
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
            .about-company-certificate__nav-bullets
          .about-company-certificate__inner.swiper(data-tabs="element")
            ul.about-company-certificate__list.swiper-wrapper
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-1.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Присвоение компетенции CRM
                p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-2.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Компетенция бизнес-процессы
                  p.about-company-certificate__note Сертификат от Битрикс24
              li.about-company-certificate__item.swiper-slide
                .about-company-certificate__picture
                  img.about-company-certificate__img(src="static/images/content/about-company/certificate-3.png", width="280", height="384", alt="Фотография сертификата")
                h3.about-company-certificate__heading Золотой партнер
                  p.about-company-certificate__note Сертификат от Битрикс24
            .about-company-certificate__nav-bullets


