mixin migration-item(options)
  li.migration-offer__item
    h3.migration-offer__heading
      span.migration-offer__number!=options.number
      span.migration-offer__head!=options.head
    .migration-offer__inner
      p.migration-offer__text!=options.text

section.migration-offer
  .container
    .migration-offer__content
      h2.migration-offer__title Наши компетенции
      p.migration-offer__description С 2008 года мы реализовали более 800 проектов, что же конкретно мы делаем:
      ul.migration-offer__list
        +migration-item({
          number: '01',
          head: 'Интеграция CRM-систем',
          text: 'Индивидуальные решения по интеграции CRM систем: Bitrix24, amoCRM, подобранные под задачи клиента. Автоматизация бизнес-процессов и развитие продаж.'
        })
        +migration-item({
          number: '02',
          head: 'Разработка сайтов',
          text: 'Программирование сайтов клиента любой сложности и ответственности: мы гордимся нашими программистами, нет задач, которые они не могли бы решить на самом высоком уровне.'
        })
        +migration-item({
          number: '03',
          head: 'Комплексный подход',
          text: 'Комплексное развитие сайтов клиентов. Генерация качественных лидов, оптимизация и продвижение в поисковых системах. 85% наших клиентов работают с нами по всем направлениям.'
        })
        +migration-item({
          number: '04',
          head: 'Реклама',
          text: 'Контекстная, баннерная реклама, реклама в соц.сетях. Академично и вдумчиво настраиваем рекламу в основных рекламных каналах: Яндекс, Вконтакте.'
        })
        +migration-item({
          number: '05',
          head: 'Разработка приложений',
          text: 'Разработка современных мобильных приложений для люьых актуальных платформ - iOS, Android, - а также универсальные кросс-платформенные решения.'
        })
        +migration-item({
          number: '06',
          head: 'Сквозная аналитика',
          text: 'Установка сквозной аналитики, колл-трекинга, систем онлайн-оплаты и онлайн-бронирования на сайтах клиентов. А также другие маркетинговые решения.'
        })


