section.settings-think.about-company-dignity
  .container
    .settings-think__content
      h2.settings-think__title Наши достоинства
      p.settings-think__note Мы повышаем эффективность бизнес процессов, автоматизируем рутинную работу, уменьшаем ваши издержки.
      .settings-think__inner
        ul.settings-think__list
          li.settings-think__item
            span.settings-think__number 01
            .settings-think__item__box
              h3.settings-think__heading Профессионализм
              p.settings-think__text В 2018 году качество нашей работы было отмечено компанией 1С Bitrix - более 50 акцептированных вендором внедрений, и мы заняли почётное 5-е место по Северо-Западному региону.
          li.settings-think__item
            span.settings-think__number 02
            .settings-think__item__box
              h3.settings-think__heading Высокий уровень
              p.settings-think__text Наша квалификация и экспертность подтверждена сотнями клиентов, которых мы обслуживаем ежегодно. Наше кредо - увеличивать продажи клиентов, как если бы это были наши продажи.
          li.settings-think__item
            span.settings-think__number 03
            .settings-think__item__box
              h3.settings-think__heading Честность
              p.settings-think__text Мы никогда не предложим решение, которое вам не подходит. Не будем навязывать услуги, которые не улучшат работу, не увеличат продажи. Мы предлагаем только то, что проверили лично.
        picture.settings-think__picture
          img.settings-think__img(src="static/images/content/about-company/dignity-1.png" width="470" height="530" alt="Картинка человека с ноутбуком")

