section.about-company-hero
  .container
    .about-company-hero__content
      picture.about-company-hero__picture
        source(media="(min-width: 768px)", srcset="static/images/content/about-company/hero-desktop.png 1x, static/images/content/about-company/hero-desktop@2x.png 2x")
        img.about-company-hero__img(src="static/images/content/about-company/hero-mobile.png" srcset="static/images/content/about-company/hero-mobile@2x.png 2x" width="320" height="164" alt="Изображение команды")
