section.about-company-history
  .container
    .about-company-history__content
      h2.about-company-history__title История компании
      .about-company-history__wrapper
        .about-company-history__slider.swiper
          ul.about-company-history__list.swiper-wrapper
            li.about-company-history__item.swiper-slide.is-active
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2021
                p.about-company-history__text Выступили с курсом лекций в СКОЛКОВО для молодых партнёров Битрикс24, Участие с лекцией в конференции Битрикс24 5 апреля. Грамотная обработка заявок от "1С-Битрикс", или с 0 до ТОП-5 в Санкт-Петербурге за один год.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2020
                p.about-company-history__text Более 100 уникальных проектов по внедрению CRM систем, акцептированы вендорами, разработали настолько уникальных расширений функционала для коробочного Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2019
                p.about-company-history__text По итогам года, заняли 4 место по продажам облачных решений Битрикс24 и 5 место по Коробочной Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2021
                p.about-company-history__text Выступили с курсом лекций в СКОЛКОВО для молодых партнёров Битрикс24, Участие с лекцией в конференции Битрикс24 5 апреля. Грамотная обработка заявок от "1С-Битрикс", или с 0 до ТОП-5 в Санкт-Петербурге за один год.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2020
                p.about-company-history__text Более 100 уникальных проектов по внедрению CRM систем, акцептированы вендорами, разработали настолько уникальных расширений функционала для коробочного Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2019
                p.about-company-history__text По итогам года, заняли 4 место по продажам облачных решений Битрикс24 и 5 место по Коробочной Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2021
                p.about-company-history__text Выступили с курсом лекций в СКОЛКОВО для молодых партнёров Битрикс24, Участие с лекцией в конференции Битрикс24 5 апреля. Грамотная обработка заявок от "1С-Битрикс", или с 0 до ТОП-5 в Санкт-Петербурге за один год.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2020
                p.about-company-history__text Более 100 уникальных проектов по внедрению CRM систем, акцептированы вендорами, разработали настолько уникальных расширений функционала для коробочного Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2019
                p.about-company-history__text По итогам года, заняли 4 место по продажам облачных решений Битрикс24 и 5 место по Коробочной Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2021
                p.about-company-history__text Выступили с курсом лекций в СКОЛКОВО для молодых партнёров Битрикс24, Участие с лекцией в конференции Битрикс24 5 апреля. Грамотная обработка заявок от "1С-Битрикс", или с 0 до ТОП-5 в Санкт-Петербурге за один год.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2020
                p.about-company-history__text Более 100 уникальных проектов по внедрению CRM систем, акцептированы вендорами, разработали настолько уникальных расширений функционала для коробочного Битрикс24.
            li.about-company-history__item.swiper-slide
              span.about-company-history__point
              .about-company-history__inner
                h3.about-company-history__year 2008
                p.about-company-history__text Более 100 уникальных проектов по внедрению CRM систем, акцептированы вендорами, разработали настолько уникальных расширений функционала для коробочного Битрикс24.
      a.about-company-history__more(href="#") Загрузить еще
