section.other-materials
	.container
		.other-materials__content
			h2.other-materials__title Другие материалы по теме:
			.other-materials__wrapper.swiper
				ul.other-materials__list.swiper-wrapper
					li.other-materials__item.swiper-slide
						span.other-materials__date 30.02.2021
						h3.other-materials__heading Новые тарифы Битрикс24
						p.other-materials__text Битрикс24 - активно развивающаяся компания, которая старается предложить своим пользователям широкий набор инструментов для контроля ..
						a.other-materials__link.button.button--fill(href="#") Подробнее
					li.other-materials__item.swiper-slide
						span.other-materials__date 28.01.2021
						h3.other-materials__heading Современные тредны в разработке корпоративных порталов Битрикс24
						p.other-materials__text Корпоративный портал - это эффективный инструмент организации ...
						a.other-materials__link.button.button--fill(href="#") Подробнее
					li.other-materials__item.swiper-slide
						span.other-materials__date 16.01.2021
						h3.other-materials__heading Внедрение Битрикс24
						p.other-materials__text Битрикс24 - активно развивающаяся компания, которая старается предложить своим пользователям широкий набор инструментов для контроля ..
						a.other-materials__link.button.button--fill(href="#") Подробнее
