.contacts-contact {
  margin: 0 0 35px 0;
  padding: 35px 0 0;

  @media screen and (min-width: $tablet-size) {
    margin: 0 0 55px;
    padding: 55px 0 0;
  }

  @media screen and (min-width: $desktop-size) {
    margin: 0 0 55px 0;
    padding: 50px 0 0 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 0 20px 0;

    @media screen and (min-width: $tablet-size) {
      margin: 0 0 30px 0;
    }
  }
  &__content {
    display: grid;
    gap: 20px;

    @media screen and (min-width: $tablet-size) {
      gap: 33px 26px;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $desktop-size) {
      gap: 30px 20px;
      grid-template-columns: 328px 1fr;
      grid-template-rows: auto auto;
    }
  }
  &__info-pic {
    @media screen and (min-width: $tablet-size) {
      display: flex;
      padding: 0 0 0 76px;
      position: relative;
      &::before {
        background: url("../images/common/contacts-bg.png") no-repeat center;
        background-size: 100%;
        content: "";
        height: 151px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        z-index: -1;
      }
    }

    @media screen and (min-width: $desktop-size) {
      padding: 0 0 0 72px;
    }
  }
  &__info {
    background-color: $white;
    box-shadow: 0 0 15px rgba(98, 63, 162, .1);
    border: 1px solid $pagination-color;
    border-radius: 10px;
    padding: 17px 24px;
    width: 100%;

    @media screen and (min-width: $tablet-size) {
      padding: 26px 18px 26px 21px;
      &--phones {
        grid-column: 1 / -1;
      }
    }

    @media screen and (min-width: $desktop-size) {
      &--phones {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
      }
    }
  }
  &__info-title {
    color: $purple-dark-color;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 12px 0;

    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
    }
  }
  &__info-value {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    padding: 0 0 0 26px;
    position: relative;
    text-decoration: none;

    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      padding: 0 0 0 30px;
    }
  }
  &__info-icon {
    left: 0;
    position: absolute;
    top: 0;

    @media screen and (min-width: $tablet-size) {
      height: 20px;
      width: 20px;
    }
  }
  &__list {
    border-top: 1px solid $pagination-color;
    display: grid;
    gap: 20px;
    margin: 20px -24px 0;
    padding: 20px 24px 0;

    @media screen and (min-width: $tablet-size) {
      grid-template-columns: repeat(3, 1fr);
      margin: 26px -21px 0;
    }

    @media screen and (min-width: $desktop-size) {
      margin: 22px -21px 0;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__city {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 10px 0;

    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
      margin: 0 0 12px 0;
    }
  }
  &__phone {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;

    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
    }
  }
}
