section.main-offer.migration-benefits
  .container
    .main-offer__content
      h2.main-offer__title Преимущества Битрикс24:
      ul.main-offer__list
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-01", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Российская система
          p.main-offer__text Все данные хранятся внутри  страны, полностью соответствует законодательству.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-01", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Огромный маркет-плейс с приложениями
          p.main-offer__text Более 1500 готовых приложений и интеграций.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-01", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Полный набор инструментов
          p.main-offer__text Для успешного ведения и управления бизнесом, ведения проектов и аналитики.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-07", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Облачная и коробочная версии
          p.main-offer__text В случае необходимости, возможна глубокая кастомизация системы, добавление нестандартной логики.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-08", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Низкая стоимость
          p.main-offer__text От 398 рублей/пользователь/месяц, что многократно дешевле российских и зарубежных аналогов.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-09", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Постоянно развивается
          p.main-offer__text Бесшовные обновления, по крайней мере 2 глобальных обновления в год.
