section.settings-faq
  .container
    .settings-faq__title Частые  вопросы по миграции в Битрикс24
    .settings-faq__accordion(data-accordion="parent", data-single, data-close-inner)
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько времени занимает миграция?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Минимальный срок, за который мы осуществляли переезд, занял 3 рабочих дня. Конечно, надо понимать, что это была типовая задача: развернуть портал, выполнить базовую настройку и «залить» данные из csv файлов. Реальные сроки зависят от количества, вида исходных данных, и уровня настройки внутри предыдущей crm.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Какие данные мы мигрируем?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p При выборе тарифа в первую очередь нужно обратить внимание на потребности, которые вы планируете закрыть. Сервис предлагает несколько тарифов, нацеленных на разные масштабы и нужды предприятия.
              p В самом начале следует определиться с редакцией: коробочная или облачная. Коробочная редакция — это годовая лицензия, позволяющая установить портал на собственный сервер. Она имеет больше возможностей, но требует самостоятельного развертывания и настройки на своем оборудовании. Подойдет для компаний, у которых в приоритете конфиденциальность, а для работы требуются нестандартные решения. Облачная редакция не требует собственных мощностей и работает на серверах «Битрикс24», а большинство типовых настроек можно выполнить самостоятельно.
              p В каждой редакции присутствует по 3 тарифа, главное различие которых заключается в количестве сотрудников, дисковом пространстве и наборе доступных инструментов. Чем больше сотрудников и возможностей — тем выше цена.
              p Оплата за лицензию коробочной редакции осуществляется сразу за год, с возможностью последующего продления. Облачную редакцию можно оплачивать помесячно, при оплате сразу на больший срок предусмотрены скидки.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Сколько стоит миграция?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Модель распространения программного обеспечения компании «Битрикс24» не предполагает самостоятельного внедрения продуктов. Для этого используется сеть авторизованных партнеров, которые берут на себя ответственность за консультацию и обеспечение технической поддержки своих клиентов.
              p Для всех пользователей «Битрикс24» работают технические специалисты, связаться с которыми можно исключительно в рабочее время в режиме чата. Кроме этого, предусмотрены и другие варианты технической поддержки — с использованием инструментов портала, но и они не включают в себя консультации по телефону.
              p Если вам требуется проконсультироваться по вопросам, касающимся развертывания и настройки «Битрикс24», а также любым другим вопросам, связанным с внедрением CRM и техническим обеспечением бизнеса — звоните нам. Мы — золотой сертифицированный партнер «Битрикс24» и более 10 лет помогаем бизнесу, обеспечивая его необходимыми IT-решениями.
              p Наши телефоны:
              ul
                li
                  span Санкт-Петербург: +7 (812) 209-27-97
                li
                  span Москва: +7 (495) 109-27-97
                li
                  span Звонок по России: +7 800 600 85 81
              p Консультируем по вопросам приобретения, внедрения и эксплуатации CRM и других систем автоматизации.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли вручную перенести данные в Битрикс24 вместе с настройками, выполненные для предыдущей CRM ?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как импортировать связанные элементы (контакты/компании/сделки) в Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Как перенести задачи в Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли мигрировать данные из Sugar CRM?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли конвертировать задачи из MS Project в Битрикс24?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли импортировать списки задач из Trello?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Какие особенности при импорте данных из Pipedrive?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Какие сущности можно перенести из ZOHO crm?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
      .settings-faq__element(data-accordion="element")
        .settings-faq__head
          h3.settings-faq__heading Можно ли перенести историю взаимодействия с клиентом из одной crm в другую?
          button.settings-faq__button(type="button" data-accordion="button")
            +icon("icon-chevrone-button", "settings-faq__button-icon", "12", "6")
        .settings-faq__content(data-accordion="content")
          .settings-faq__inner
            .settings-faq__text
              p Сервис никак не ограничивает количество компаний на портале. Все приобретенные клиентом мощности он может использовать по своему усмотрению. Можно распределить их на несколько компаний или создать дополнительные отделы и выделить их в филиал — главное, чтобы хватило количества доступных по лицензии пользователей.
              p Для организации работы нескольких предприятий нужно создать в корне «структуры компании» подразделения и использовать их в качестве отдельных компаний. Будут доступны абсолютно все возможности: назначение руководителя, разделение прав доступа как от остальных компаний, так и внутри ее, распределение пользователей в группы и другие инструменты управления и контроля.
