section.migration-important
  .container
    .migration-important__content
      .migration-important__description
        h2.migration-important__title Почему это важно?
        ul.migration-important__list
          li.migration-important__item
            h3.migration-important__subtitle Зарубежные CRM перестают работать
            p.migration-important__text В связи со сложившейся геополитической ситуацией, использовать зарубежные системы становится все сложнее. В любой момент они могут перестать работать, а процессы встать.
          li.migration-important__item
            h3.migration-important__subtitle Хранить данные за рубежом небезопасно
            p.migration-important__text Клиенты, которые продолжают использовать западные CRM-системы, опасаются хранить данные за рубежом. Существует риск санкций со стороны России, который связан со статьей 152 ФЗ “О персональных данных”.
      picture.migration-important__picture
        source(media="(min-width: 1280px)", srcset="static/images/content/migration/important-desktop.png")
        img.migration-important__img(src="static/images/content/migration/important.png" width="280", height="207" alt="Изображение продукта")
