section.main-blog
  .container
    .main-blog__content
      h2.main-blog__title Другие материалы по теме:
      .main-blog__wrapper.swiper
        ul.main-blog__list.swiper-wrapper
          li.main-blog__item.swiper-slide
            span.main-blog__date 30.02.2021
            h3.main-blog__heading Переезд с HubSpot в Битрикс24
            p.main-blog__text Продолжаем наш короткий цикл статей, посвященных переносу данных и бизнес-процессов из иностранных CRM-систем на отечественную платформу Битрикс24.
            a.main-blog__link.button.button--fill(href="#") Подробнее
          li.main-blog__item.swiper-slide
            span.main-blog__date 30.02.2021
            h3.main-blog__heading Переезд с Zoho CRM в Битрикс24
            p.main-blog__text Зависимость бизнеса от технологий непрерывно возрастает. CRM зачастую становится первым инструментом, который внедряют компании ...
            a.main-blog__link.button.button--fill(href="#") Подробнее
          li.main-blog__item.swiper-slide
            span.main-blog__date 30.02.2021
            h3.main-blog__heading Переезд из Pipedrive в Битрикс24
            p.main-blog__text 10 марта на официальном сайте Pipedrive появилось заявление, что они перестают оказывать услуги пользователям из России и Беларуси.
            a.main-blog__link.button.button--fill(href="#") Подробнее
