section.landing-stages.migration-stages
  .container
    .landing-stages__content
      h2.landing-stages__title Этапы миграции в корпоративный портал Битрикс24
    .landing-stages__tabs(data-tabs='parent', data-delay='150')
      ul.landing-stages__controls(data-tabs='controls')
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-01", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Анализ бизнес-процессов
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-02", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Реализация проекта
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-03", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Миграция данных
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-04", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Обучение сотрудников
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Сопровождение проекта
      ul.landing-stages__content(data-tabs='content')
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Перейти к кейсам
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Перейти к кейсам
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Перейти к кейсам
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Перейти к кейсам
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Перейти к кейсам

