section.migration-transfer
  .container
    .migration-transfer__content
      h2.migration-transfer__title Перенос с каких CRM-систем мы осуществляем?
      p.migration-transfer__text У нас есть опыт в переносе данных с более чем 10 зарубежных и отечественных CRM-систем.
      ul.migration-transfer__list
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-1.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-2.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-3.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-4.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-5.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-6.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-7.png" width="130" height="70" alt="Изображение сервиса")
        li.migration-transfer__item
          img.migration-transfer__img(src="static/images/content/migration/transfer-8.png" width="130" height="70" alt="Изображение сервиса")
