extends layout/main

block variables
  -var title = 'О компании'
  -var pageClass = 'about-company'

block content
  main(class=pageClass)
    include pages/about-company/hero
    include pages/about-company/history
    include pages/about-company/team
    include pages/about-company/competencies
    include pages/about-company/certificate
    include pages/about-company/dignity
    include pages/about-company/partners
    include pages/about-company/answer
