extends layout/main

block variables
  -var title = 'Обучение Битрикс'
  -var pageClass = 'bitrix-training'

block content
  main(class=pageClass)
    include pages/bitrix-training/bitrix-training
    include pages/crm-tutorial/answer
