extends layout/main

block variables
	-var title = 'Коробочная версия'
	-var pageClass = 'boxed'

block content
	main(class=pageClass)
		include pages/boxed-version/hero
		include pages/boxed-version/advantages
