extends layout/main

block variables
  -var title = 'Перенос Битрикс24 из облака в коробку'
  -var pageClass = 'support'

block content
  main(class=pageClass)
    include pages/clouds/hero
    include pages/clouds/advantages
    include pages/clouds/migration
    include pages/clouds/causes
    include pages/clouds/adv-box
    include pages/clouds/technical
    include pages/clouds/choose
    include pages/clouds/work
    include pages/clouds/price
    include pages/clouds/rate
    include pages/clouds/included
    include pages/clouds/example
    include pages/clouds/faq
    include pages/clouds/review
    include pages/clouds/answer
    include pages/clouds/competence
