extends layout/main

block variables
  -var title = 'Контакты'
  -var pageClass = 'contacts'

block content
  main(class=pageClass)
    include pages/contacts/contacts
    include pages/contacts/form
    include pages/contacts/requisites
    include pages/contacts/map
