extends layout/main

block variables
  -var title = 'Разработка CRM-систем'
  -var pageClass = 'crm-development'

block content
  main(class=pageClass)
    include pages/crm-development/hero
    include pages/crm-development/we-do
    include pages/crm-development/activities
    include pages/crm-development/advantages
    include pages/crm-development/suggestions
    include pages/crm-development/individual-development
    include pages/crm-development/works
    include pages/crm-development/stages
    include pages/crm-development/dev-conditions
    include pages/crm-development/competence
    include pages/crm-development/answer
