extends layout/main

block variables
  -var title = 'Внедрение CRM'
  -var pageClass = 'implementation'

block content
  main(class=pageClass)
    include pages/implementation/hero
    include pages/implementation/problems
    include pages/implementation/lead
    include pages/implementation/decide
    include pages/implementation/help
    include pages/implementation/projects
    include pages/implementation/faq
    include pages/implementation/blog
    include pages/implementation/answer
