extends layout/main

block variables
	-var title = 'Страница с ссылками'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container
			ul(style="padding-top:50px;")
				li
					a(href='crm-traning.html') crm-traning
				li
					a(href='bitrix-training.html') Обучение Битрикс 24
