extends layout/main

block variables
  -var title = 'Страница с ссылками'
  -var pageClass = 'index-page'

block content
  main(class=pageClass)
    .container
      ul(style="padding:50px 0;")
        li
          a(href='main.html') Главная
        li
          a(href='crm-traning.html') crm-traning
        li
          a(href='bitrix-training.html') Обучение Битрикс 24
        li
          a(href='interface-overview.html') Обзор Интерфейса
        li
          a(href='article.html') Статья
        li
          a(href='landing-page.html') landing
        li
          a(href='boxed-version.html') Коробочная версия
        li
          a(href='contacts.html') Контакты
