extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'main'

block content
	main(class=pageClass)
		include pages/main/customization
		include pages/main/offer
		include pages/main/automation
		include pages/main/we-can
		include pages/main/areas
		include pages/main/partners
		include pages/main/blog
		include pages/crm-tutorial/answer
