extends layout/main

block variables
  -var title = 'Настройка Битрикс24'
  -var pageClass = 'migration'

block content
  main(class=pageClass)
    include pages/migration/hero
    include pages/migration/offer
    include pages/migration/important
    include pages/migration/get
    include pages/migration/transfer
    include pages/migration/stages
    include pages/migration/benefits
    include pages/migration/suggestions
    include pages/migration/works
    include pages/migration/faq
    include pages/migration/materials
    include pages/migration/competence
    include pages/migration/answer
