extends layout/main

block variables
  -var title = 'Разработка мобильный приложений'
  -var pageClass = 'mobile-development'

block content
  main(class=pageClass)
    include pages/mobile-development/hero
    include pages/mobile-development/advantages
    include pages/mobile-development/why-choice
    include pages/mobile-development/applications
    include pages/mobile-development/stages
    include pages/mobile-development/suggestions
    include pages/mobile-development/offer
    include pages/mobile-development/prototype-development
    include pages/mobile-development/faq
    include pages/mobile-development/competence
    include pages/mobile-development/answer
