extends layout/main

block variables
  -var title = 'Разработка мобильный приложений'
  -var pageClass = 'mobile-development'

block content
  main(class=pageClass)
    include pages/mobile-development/hero
