extends layout/main

block variables
  -var title = 'Внедрение SberCRM для вашего бизнеса'
  -var pageClass = 'sber'

block content
  main(class=pageClass)
    include pages/sber/hero
    include pages/sber/descr
    include pages/sber/activities
    include pages/sber/give
    include pages/sber/partners
    include pages/sber/price
    include pages/sber/order
    include pages/sber/faq
    include pages/sber/competence
    include pages/sber/answer
