extends layout/main

block variables
  -var title = 'Настройка Битрикс24'
  -var pageClass = 'settings'

block content
  main(class=pageClass)
    include pages/settings/hero
    include pages/settings/for-what
    include pages/settings/why-choice
    include pages/settings/awards
    include pages/settings/success
    include pages/settings/think
