extends layout/main

block variables
  -var title = 'Разработка мобильный приложений'
  -var pageClass = 'support'

block content
  main(class=pageClass)
    include pages/support/hero
    include pages/support/needs
    include pages/support/choose
    include pages/support/why-are-we
    include pages/support/included
    include pages/support/work
    include pages/support/price
    include pages/support/options
    include pages/support/example
    include pages/support/faq
    include pages/support/review
    include pages/support/answer
    include pages/support/competence
