// Colors
$white: #fff;
$black: #000;
$gray-color: #ccc;
$yellow-color: #ffa800;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$main-font: 'Raleway', Arial, sans-serif;
$second-font: 'Open Sans', Arial, sans-serif;
$roboto-font: 'Roboto', Arial, sans-serif;
