// Colors
$white: #fff;
$black: #000;
$brown-color: #7f5400;
$gray-color: #ccc;
$gray-text-color: #666;
$light-gray-color: #e5e5e5;
$dark-gray-color: #e2e2e2;
$yellow-color: #ffa800;
$yellow-light: #ffe1a6;
$purple-color: #7048b8;
$white-gray-color: #f7f7f7;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;
$desktop-size: 1280px;

$content: 1064px;

// Fonts
$main-font: 'Raleway', Arial, sans-serif;
$second-font: 'Open Sans', Arial, sans-serif;
$roboto-font: 'Roboto', Arial, sans-serif;
