// Colors
$white: #fff;
$black: #000;
$brown-color: #7f5400;
$bg-gray-color: #f8f8f8;
$blue-color: #4370e5;
$footer-dark-color: #110918;
$gray-color: #ccc;
$gray-text-color: #666;
$green-color: #039f00;
$light-gray-color: #e5e5e5;
$link-grey-color: #b4b2b9;
$dark-gray-color: #e2e2e2;
$yellow-color: #ffa800;
$yellow-light: #ffe1a6;
$purple-color: #7048b8;
$purple-dark-color: #623fa2;
$purple-grey-color: #7149b9;
$purple-grey-color2: #7041c5;
$purple-light-color: #f9f8fb;
$pink-color: #c843cb;
$text-color: #2a2a2a;
$input-gray-color: #908f8f;
$text-note-color: #929292;
$white-gray-color: #f7f7f7;
$white--dark-gray-color: #f5f5f5;
$pagination-color: #ededed;
$magnolia-color: #fbfafd;

// Sizes
$base-font-size: 16px;
$tablet-size: 768px;
$small-desktop-size: 1024px;
$desktop-size: 1280px;
$large-size: 1440px;
$big-size: 1920px;

$content: 1064px;

// Fonts
$main-font: 'Raleway', Arial, sans-serif;
$second-font: 'Open Sans', Arial, sans-serif;
$roboto-font: 'Roboto', Arial, sans-serif;
