.boxed-competencies {
  margin: 35px 0;

  @media screen and (min-width: $tablet-size) {
    margin: 55px 0 60px;
  }

  @media screen and (min-width: $desktop-size) {
    margin: 50px 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 10px 0;

    @media screen and (min-width: $tablet-size) {
      text-align: center;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 0 20px 0;

    @media screen and (min-width: $tablet-size) {
      margin: 0 0 30px 0;
      text-align: center;
    }
  }
  &__list {
    display: grid;
    gap: 20px;

    @media screen and (min-width: $tablet-size) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $desktop-size) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item {
    box-shadow: 0 0 10px rgba(98, 63, 162, .1);
    border-radius: 10px;
    overflow: hidden;
    padding: 21px 9px 12px 9px;
    position: relative;

    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-direction: column;
      padding: 31px 13px 37px 13px;
    }
    &:hover {
      .boxed-competencies__subtitle {
        opacity: .7;
      }
      .boxed-competencies__icon {
        opacity: .7;
      }
    }
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 13px 0;
    transition: all ease-out .2s;

    @media screen and (min-width: $desktop-size) {
      margin: 0 0 34px 0;
    }
  }
  &__icon {
    margin: 0 0 0 -20px;
    transition: all ease-out .2s;

    @media screen and (min-width: $desktop-size) {
      margin: auto 0 0 -20px;
      &--crm {
        height: 48px;
        width: 156px;
      }
      &--quotes {
        height: 66px;
        width: 113px;
      }
      &--ios-android {
        height: 66px;
        width: 131px;
      }
    }
  }
  &__shadow-link {
    &::after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
