.boxed-help {
  background: linear-gradient(90deg, #fff 0%, #faf9fc 100%);
  margin: 0 0 35px 0;
  padding: 35px 0;

  @media screen and (min-width: $tablet-size) {
    margin: 0 0 50px 0;
    padding: 54px 0;
  }
  &__content {
    @media screen and (min-width: $tablet-size) {
      align-items: flex-start;
      display: flex;
    }
  }
  &__description {
    margin: 0 0 15px 0;

    @media screen and (min-width: $tablet-size) {
      margin: 0 48px 0 0;
      width: 50%;
    }

    @media screen and (min-width: $desktop-size) {
      margin: 0 138px 0 0;
      width: 44%;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 10px 0;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
  }
  &__form {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet-size) {
      flex: 1 0 auto;
    }

    @media screen and (min-width: $desktop-size) {
      align-items: flex-start;
      flex-direction: row;
    }
  }
  &__input {
    border-radius: 25px;
    border: 1px solid $link-grey-color;
    font-size: 17px;
    line-height: 1;
    margin: 0 0 20px 0;
    padding: 14px 20px;

    @media screen and (min-width: $desktop-size) {
      margin: 0 20px 0 0;
    }
  }
  &__button {
    @media screen and (min-width: $desktop-size) {
      min-width: 158px;
    }
  }
}
