section.main-automation
	.container
		.main-automation__content
			.main-automation__info
				h2.main-automation__title Автоматизируем бизнес-процессы, внедряем и&nbsp;разрабатываем CRM-системы
				p.main-automation__text Внедрив CRM-систему, вы начнете знать про свою компанию значительно больше:
				ul.main-automation__list
					li.main-automation__item
						p.main-automation__item-text процессы станут прозрачными,
					li.main-automation__item
						p.main-automation__item-text контакты и обращения клиентов не будут теряться,
					li.main-automation__item
						p.main-automation__item-text станет понятно, какие каналы привлечения клиентов самые эффективные и выгодные.
				p.main-automation__text Мы&nbsp;накопили огромный опыт, и&nbsp;скорее всего прекрасно разбираемся в&nbsp;нише, которую занимает именно ваша компания!
			ul.automation__number-list
				li.automation__number-item
					span.automation__number-count 14
					span.automation__number-desc лет на рынке
				li.automation__number-item
					span.automation__number-count > 80
					span.automation__number-desc внедрений ежегодно
				li.automation__number-item
					span.automation__number-count 5-7
					span.automation__number-desc разработок ежегодно
			.main-automation__image
				picture.main-automation__picture
					source(media="(min-width: 1280px)", srcset="static/images/content/main-automation-desktop.png")
					source(media="(min-width: 768px)", srcset="static/images/content/main-automation-tablet.png")
					img.main-automation__img(src="static/images/content/main-automation-mobile.png" width="280", height="338" alt="Изображение человека с девайсами")
