section.main-blog
	.container
		.main-blog__content
			h2.main-blog__title Читайте наш блог. Возможно, мы уже решали вашу задачу:
			.main-blog__wrapper.swiper
				ul.main-blog__list.swiper-wrapper
					li.main-blog__item.swiper-slide
						span.main-blog__date 30.02.2021
						h3.main-blog__heading Новые тарифы Битрикс24
						p.main-blog__text Битрикс24 - активно развивающаяся компания, которая старается предложить своим пользователям широкий набор инструментов для контроля ..
						a.main-blog__link.button.button--fill(href="#") Подробнее
					li.main-blog__item.swiper-slide
						span.main-blog__date 28.01.2021
						h3.main-blog__heading Современные тредны в разработке корпоративных порталов Битрикс24
						p.main-blog__text Корпоративный портал - это эффективный инструмент организации ...
						a.main-blog__link.button.button--fill(href="#") Подробнее
					li.main-blog__item.swiper-slide
						span.main-blog__date 16.01.2021
						h3.main-blog__heading Внедрение Битрикс24
						p.main-blog__text Битрикс24 - активно развивающаяся компания, которая старается предложить своим пользователям широкий набор инструментов для контроля ..
						a.main-blog__link.button.button--fill(href="#") Подробнее
			.main-blog__buttom
				a.main-blog__more.button(href="#") Читать весь блог
