section.main-customization
  .container
    .main-customization__content
      .main-customization__info
        .main-customization__heading
          picture.main-customization__logo-picture
            source(media="(min-width: 1280px)", srcset="static/images/content/bitrix-img-desktop.png")
            img.main-customization__logo-img(src="static/images/content/bitrix-img-mobile.png" width="180" height="33" alt="Картинка надписи Битрикс 24")
          h2.main-customization__subtitle настройка
        p.main-customization__text Консультационное внедрение Битрикс24 предполагает запуск системы по&nbsp;этапам. Основные плюсы для клиента&nbsp;&mdash; это быстрый старт с&nbsp;минимальными затратами. #[br] После каждого этапа клиент получает ощутимый эффект для бизнеса.
        a.main-customization__link.button.button--fill._popup-link(href="#success-pay") Заказать внедрение
      .main-customization__images
        picture.main-customization__picture
          source(media="(min-width: 1280px)", srcset="static/images/content/main-custom-desktop.png")
          img.main-customization__img(src="static/images/content/main-custom-tablet.png" width="432" height="379" alt="Картинка с человеком на главной")
