section.main-offer
  .container
    .main-offer__content
      h2.main-offer__title Мы предлагаем:
      ul.main-offer__list
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-01", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Внедрение и настройка CRM-систем
          p.main-offer__text Настроенная CRM-система&nbsp;&mdash; это эффективнейший помощник Ваших продаж и&nbsp;бизнес-процессов.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-02", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Внедрение Битрикс24
          p.main-offer__text Комплексное внедрение, настройка и&nbsp;поддержка CRM Битрикс24. Удобные пакеты по&nbsp;внедрению, в&nbsp;зависимости от&nbsp;ваших целей и&nbsp;задач.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-03", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Внедрение amoCRM
          p.main-offer__text Комплексное внедрение, настройка и&nbsp;поддержка CRM amoCRM. Удобные пакеты по&nbsp;внедрению, в&nbsp;зависимости от&nbsp;ваших целей и&nbsp;задач.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-04", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Разработка мобильных приложений
          p.main-offer__text Настроенная CRM-система&nbsp;&mdash; это эффективнейший помощник Ваших продаж и&nbsp;бизнес-процессов.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-05", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Индивидуальная разработка CRM-систем
          p.main-offer__text Разработка CRM систем под задачи вашего бизнеса. Создание, внедрение и&nbsp;поддержка.
        li.main-offer__item
          .main-offer__top
            +icon("icon-offer-06", "main-offer__icon", "42", "42")
            h3.main-offer__item-title Аутсорс разработка
          p.main-offer__text Разработка сложных программных продуктов, их&nbsp;поддержка, тестирование и&nbsp;техническое сопровождение.
