section.main-partners
  .container
    .main-partners__content
      .main-partners__top.qwerty
        .main-partners__inner
          h2.main-partners__title Нам уже доверяют:
          p.main-partners__sub-text И еще 182 компании по всей России
      ul.main-partners__list
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-1.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-2.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-3.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-4.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-5.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-6.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-7.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-8.png" width="59" height="36" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-7.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-8.png" width="59" height="36" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-7.png" width="130" height="70" alt="Картинка партнера")
        li.main-partners__item
          picture.main-partners__picture
            img.main-partners__img(src="static/images/content/partners-8.png" width="59" height="36" alt="Картинка партнера")
      p.main-partners__text Все внедрения проверены сотрудниками 1С-Битрикс путем устного анкетирования Клиентов. Внедрения Integrator.Digital размещены на официальном сайте 1С-Битрикс, их нельзя подделать.
      a.main-partners__link(data-da=".qwerty, 768, last") Все партнеры
