section.main-we-can
	.container
		.main-we-can__content
			ul.main-we-can__list
				li.main-we-can__item
					h2.main-we-can__title Что еще мы можем предложить?
				li.main-we-can__item
					+icon("icon-can-1", "main-we-can__icon", "42", "42")
					.main-we-can__inner
						h3.main-we-can__heading Работы “Под ключ”
						p.main-we-can__text Мы предлагаем комплексный подход и выполняем все работы по системе “все включено”.
				li.main-we-can__item
					+icon("icon-can-2", "main-we-can__icon", "42", "42")
					.main-we-can__inner
						h3.main-we-can__heading Команду специалистов
						p.main-we-can__text В нашем штате есть: аналитики, программисты, дизайнеры, маркетологи и SEO.
				li.main-we-can__item
					+icon("icon-can-3", "main-we-can__icon", "42", "42")
					.main-we-can__inner
						h3.main-we-can__heading Занимаем 3-е место
						p.main-we-can__text По внедрению коробочной версии Битрикс24, согласно рейтингу партнеров Битрикс24.
				li.main-we-can__item
					+icon("icon-can-4", "main-we-can__icon", "42", "42")
					.main-we-can__inner
						h3.main-we-can__heading Личная консультация
						p.main-we-can__text Для заключения договора - наш специалист выезжает к вам в офис, чтобы ответить на все вопросы.
				li.main-we-can__item
					+icon("icon-can-5", "main-we-can__icon", "42", "42")
					.main-we-can__inner
						h3.main-we-can__heading Работаем по всей РФ
						p.main-we-can__text Мы оказываем широкий спектр услуг по СПб, Москве и всей России. Обращайтесь!

