.search
	a.search__link(href="#")
		span.visually-hidden Поиск по сайту
		+icon("icon-search", "search__icon", "19", "19")
	form.search__form(action="#" method="POST")
		.search__box
			input.search__input(type="text" name="searchField" id="searchField" placeholder="Поиск")
			button.search__button(type="submit")
				+icon("icon-search", "search__box-icon", "16", "16")
