section.landing-capabilities
  .container
    .landing-capabilities__content
      h2.landing-capabilities__title С помощью личного кабинета вы сможете:
      ul.landing-capabilities__list
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-i", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Предоставлять пользователю информацию о заказах, рекомендациях, оповещать его о поставках и пр.
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-airplay", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Интегрировать ЛК с учетными системами: любые 1С, SAP, ELMA, Microsoft Dinamics и др.
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-mail", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Обмениваться сообщениями с пользователями, информировать их и оказывать поддержку.
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-refresh", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Автоматизировать документооборот  внутри компании.
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-lock", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Защитить коммерческие данные: партнер получает доступ только к своим ценам, услугам, документам.
        li.landing-capabilities__item
          span.landing-capabilities__icon
            +icon("icon-landing-people", "landing-capabilities__icon-image", "32", "32")
          p.landing-capabilities__text Управлять учетными записями: подтверждение пользователей, двухфакторная авторизация.
