section.landing-competencies
  .container
    .landing-competencies__content
      h2.landing-competencies__title Сфера наших компетенций
      p.landing-competencies__text Помимо разработки личных кабинетов, мы можем предложить услуги  по следующим направлениям:
      ul.landing-competencies__list
        li.landing-competencies__item
          +icon("icon-crm", "landing-competencies__icon", "224", "70")
          h3.landing-competencies__head Разработка CRM-систем
        li.landing-competencies__item
          +icon("icon-crm", "landing-competencies__icon", "224", "70")
          h3.landing-competencies__head Внедрение готовых CRM
        li.landing-competencies__item
          +icon("icon-quotes", "landing-competencies__icon", "156", "92")
          h3.landing-competencies__head Разработка ПО
        li.landing-competencies__item
          +icon("icon-ios-android", "landing-competencies__icon", "158", "80")
          h3.landing-competencies__head Разработка мобильных приложений
