section.landing-examples
  .container
    .landing-examples__content
      h2.landing-examples__title Примеры реализованных работ
      .landing-examples__swiper.swiper
        ul.landing-examples__list.swiper-wrapper
          li.landing-examples__item.swiper-slide
            .landing-examples__inner
              .landing-examples__box
                h3.landing-examples__head Личный кабинет пользователя для интернет-магазина Ozon.ru
                p.landing-examples__text Содержит историю заказов, информацию о менеджерах клиента, форму обратной связи и формы запроса платежного баланса и актов сверки.
                .landing-examples__images-small.landing-examples__images-small--desktop
                  img.landing-examples__img(src="static/images/content/landing/example-1-small.png" width="320" height="237" alt="Картинка примера")
              .landing-examples__images-big
                img.landing-examples__img(src="static/images/content/landing/example-1-big.png" width="360" height="296" alt="Картинка примера")
              .landing-examples__images-small.landing-examples__images-small--tablet
                img.landing-examples__img(src="static/images/content/landing/example-1-small.png" width="320" height="237" alt="Картинка примера")
          li.landing-examples__item.swiper-slide
            .landing-examples__inner
              .landing-examples__box
                h3.landing-examples__head Личный кабинет пользователя для интернет-магазина Ozon.ru
                p.landing-examples__text Содержит историю заказов, информацию о менеджерах клиента, форму обратной связи и формы запроса платежного баланса и актов сверки.
                .landing-examples__images-small.landing-examples__images-small--desktop
                  img.landing-examples__img(src="static/images/content/landing/example-2-small.png" width="320" height="237" alt="Картинка примера")
              .landing-examples__images-big
                img.landing-examples__img(src="static/images/content/landing/example-2-big.png" width="360" height="296" alt="Картинка примера")
              .landing-examples__images-small.landing-examples__images-small--tablet
                img.landing-examples__img(src="static/images/content/landing/example-2-small.png" width="320" height="237" alt="Картинка примера")
          li.landing-examples__item.swiper-slide
            .landing-examples__inner
              .landing-examples__box
                h3.landing-examples__head Личный кабинет пользователя для интернет-магазина Ozon.ru
                p.landing-examples__text Содержит историю заказов, информацию о менеджерах клиента, форму обратной связи и формы запроса платежного баланса и актов сверки.
                .landing-examples__images-small.landing-examples__images-small--desktop
                  img.landing-examples__img(src="static/images/content/landing/example-3-small.png" width="320" height="237" alt="Картинка примера")
              .landing-examples__images-big
                img.landing-examples__img(src="static/images/content/landing/example-3-big.png" width="360" height="296" alt="Картинка примера")
              .landing-examples__images-small.landing-examples__images-small--tablet
                img.landing-examples__img(src="static/images/content/landing/example-3-small.png" width="320" height="237" alt="Картинка примера")
        .landing-examples__navigation
          .landing-examples__nav-bullets
          .landing-examples__nav-arrows
            button.landing-examples__nav.landing-examples__nav--prev
              +icon("icon-arrow-round", "landing-hero__nav-icon", "6", "23")
            button.landing-examples__nav.landing-examples__nav--next
              +icon("icon-arrow-round", "landing-hero__nav-icon", "6", "12")
.landing-promo.landing-promo--example
  .container
    .landing-promo__content
      +icon("icon-landing-doc-white", "landing-promo__icon landing-promo__icon--example", "100", "100")
      h2.landing-promo__title.landing-promo__title--example Стоимость разработки личного кабинета
      .landing-promo__text
        p Стоимость работ рассчитывается индивидуально, в соответствии  с заполненным ТЗ и начинается от 150.000 рублей.
        p Для того, чтобы рассчитать стоимость - заполните бриф или оставьте заявку и наши специалисты свяжутся с вами.
      .landing-promo__inner
        button.button.button--white.landing-promo__button-example Отправить заявку
        button.button.button--purple.landing-promo__button-example Заполнить бриф
