.landing-hero
  .landing-hero__content
    .landing-hero__wrapper.swiper
      ul.landing-hero__list.swiper-wrapper
        li.landing-hero__item.swiper-slide
          .landing-hero__images
            picture.landing-hero__picture
              source(media="(min-width: 1440px)", srcset="static/images/content/landing/hero-general-big.png")
              source(media="(min-width: 1024px)", srcset="static/images/content/landing/hero-general-desktop.png")
              source(media="(min-width: 768px)", srcset="static/images/content/landing/hero-general-tablet.png")
              img.landing-hero__img(src="static/images/content/landing/hero-general-mobile.png" alt="Картинка услуги" width="360" height="460")
          .landing-hero__info
            .container
              .landing-hero__inner
                h2.landing-hero__title Разработка личного кабинета
                p.landing-hero__description Разработка, доработка и поддержка личных кабинетов для успешного бизнеса.
                a.landing-hero__button.button.button--round.button--yellow Рассчитать стоимость
        //li.landing-hero__item.swiper-slide
        //  .landing-hero__images
        //    picture.landing-hero__picture
        //      source(media="(min-width: 1440px)", srcset="static/images/content/landing/hero-general-big.png")
        //      source(media="(min-width: 1024px)", srcset="static/images/content/landing/hero-general-desktop.png")
        //      source(media="(min-width: 768px)", srcset="static/images/content/landing/hero-general-tablet.png")
        //      img.landing-hero__img(src="static/images/content/landing/hero-general-mobile.png" alt="Картинка услуги" width="360" height="460")
        //  .landing-hero__info
        //    .container
        //      .landing-hero__inner
        //        h2.landing-hero__title Разработка личного кабинета
        //        p.landing-hero__description Разработка, доработка и поддержка личных кабинетов для успешного бизнеса.
        //        a.landing-hero__button.button.button--round.button--yellow Рассчитать стоимость
        //li.landing-hero__item.swiper-slide
        //  .landing-hero__images
        //    picture.landing-hero__picture
        //      source(media="(min-width: 1440px)", srcset="static/images/content/landing/hero-general-big.png")
        //      source(media="(min-width: 1024px)", srcset="static/images/content/landing/hero-general-desktop.png")
        //      source(media="(min-width: 768px)", srcset="static/images/content/landing/hero-general-tablet.png")
        //      img.landing-hero__img(src="static/images/content/landing/hero-general-mobile.png" alt="Картинка услуги" width="360" height="460")
        //  .landing-hero__info
        //    .container
        //      .landing-hero__inner
        //        h2.landing-hero__title Разработка личного кабинета
        //        p.landing-hero__description Разработка, доработка и поддержка личных кабинетов для успешного бизнеса.
        //        a.landing-hero__button.button.button--round.button--yellow Рассчитать стоимость
      .container
        .landing-hero__navigation
          .landing-hero__nav-bullets
          .landing-hero__nav-arrows
            button.landing-hero__nav.landing-hero__nav--prev
              +icon("icon-arrow-round", "landing-hero__nav-icon", "6", "23")
            button.landing-hero__nav.landing-hero__nav--next
              +icon("icon-arrow-round", "landing-hero__nav-icon", "6", "12")
