.landing-hero
	.container
		.landing-hero__content
			.landing-hero__wrapper
				ul.landing-hero__list
					li.landing-hero__item
						.landing-hero__images
							picture.landing-hero__main-picture
								//source(media="(min-width: 1280px)", srcset="static/images/content/benefit-desktop-02.png")
								img.landing-hero__main-img(src="static/images/content/landing/hero-main-mobile.png" alt="Картинка услуги" width="360" height="382")
							picture.landing-hero__phone-picture
								//source(media="(min-width: 1280px)", srcset="static/images/content/benefit-desktop-02.png")
								img.landing-hero__phone-img(src="static/images/content/landing/hero-phone-mobile.png" alt="Картинка услуги" width="192" height="400")
						h2.landing-hero__title Разработка личного кабинета
						p.landing-hero__description Разработка, доработка и поддержка личных кабинетов для успешного бизнеса.
						a.landing-hero__button.button.button--round.button--yellow Рассчитать стоимость
