section.landing-stages
  .container
    .landing-stages__content
      h2.landing-stages__title 6 основных этапов разработки личного кабинета
    .landing-stages__tabs(data-tabs='parent', data-delay='150')
      ul.landing-stages__controls(data-tabs='controls')
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-01", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Сбор сведений
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-1.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-02", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Разработка прототипов
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-2.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-03", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Разработка техзадания
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-3.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-04", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Разработка личного кабинета
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-4.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Ввод в эксплуатацию
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-5.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-06", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Теходдержка
          .landing-stages__images-tabs
            img.landing-stages__img(src="static/images/content/landing/stages-6.png" width="459" height="396" alt="Картинка этапа")
      ul.landing-stages__content(data-tabs='content')
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-1.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-2.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-3.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-4.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-5.png" width="459" height="396" alt="Картинка этапа")
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Черновая реализация кабинета в базовом варианте с проверкой функционирования системы в целом. Исходя из прототипов, к нам и Вам приходит понимание, какие данные в какой момент времени будут нужны, откуда их следует брать, где хранить, и каким образом будет происходить обмен данными между программным обеспечением Вашей компании.
              p Именно от этого этапа во многом зависит то, каким образом будет построена интеграция кабинета с другими решениями, встройка в имеющуюся инфраструктуру.
            a.landing-stages__link(href="#")
              span.landing-stages__link-text Примеры прототипов
              +icon("icon-lending-arrow", "landing-stages__link-icon", "40", "16")
            .landing-stages__images
              img.landing-stages__img(src="static/images/content/landing/stages-6.png" width="459" height="396" alt="Картинка этапа")

