.search {
  margin: 0 0 30px 0;
  @media screen and (min-width: $tablet-size) {
    margin: 0;
  }
  &__link {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
    }
    @media screen and (min-width: $desktop-size) {
      display: none;
    }
  }
  &__icon {
    fill: $purple-color;
  }
  &__form {
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
    @media screen and (min-width: $desktop-size) {
      display: block;
    }
  }
  &__box {
    position: relative;
  }
  &__box-icon {
    fill: $black;
    @media screen and (min-width: $desktop-size) {
      fill: $gray-color;
    }
  }
  &__input {
    background-color: $bg-gray-color;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 15px 40px 15px 20px;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      background-color: $white;
      border-color: $gray-color;
      padding: 11px 40px 11px 20px;
    }
  }
  &__button {
    background-color: transparent;
    border: none;
    fill: $purple-color;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
