section.implementation-decide
  .container
    .implementation-decide__content
      p.implementation-decide__description Автоматизация продаж и работы с клиентами позволит решить эти и другие проблемы, и тем самым, повысить количество продаж и средний чек. Внедрение CRM системы позволяет повысить лояльность и верность уже имеющихся клиентов, и привести новых.
      p.implementation-decide__subtitle Если описанные проблемы вам близки, позвоните в нашу компанию:
      h2.implementation-decide__title Мы будем решать их вместе!
      ul.implementation-decide__list
        li.implementation-decide__item
          span.implementation-decide__number 01
          p.implementation-decide__text Проведем качественный аудит продаж.
        li.implementation-decide__item
          span.implementation-decide__number 02
          p.implementation-decide__text Подберём и продемонстрируем CRM.
        li.implementation-decide__item
          span.implementation-decide__number 03
          p.implementation-decide__text Обучим персонал всему необходимому.
        li.implementation-decide__item
          span.implementation-decide__number 04
          p.implementation-decide__text Нормализуем все бизнес-процессы.
        li.implementation-decide__item
          span.implementation-decide__number 05
          p.implementation-decide__text Настроим CRM под ваши задачи.
        li.implementation-decide__item
          span.implementation-decide__number 06
          p.implementation-decide__text Услуга “Тайный покупатель” - бесплатно!
      .implementation-decide__link-wrapper
        a.implementation-decide__link.button.button--fill(href="#") Заказать обратный звонок


