section.implementation-help
  .container
    .implementation-help__content
      h2.implementation-help__title Поможем выбрать подходящую именно вам систему, грамотно настроим и обучим персонал
      ul.implementation-help__list
        li.implementation-help__item
          .implementation-help__image
            img.implementation-help__img(src="static/images/content/implementation/help-1.png" width="280", height="206" alt="ampCrm")
          .implementation-help__wrapper
            p.implementation-help__head amoCRM™ — это простая и понятная система учета потенциальных клиентов и сделок, которая поможет контролировать и увеличивать Ваши продажи.
            p.implementation-help__text Мы являемся сертифицированным партнером amoCRM™, имеем большой опыт внедрения, настройки и развития системы в отделах продаж. Позвоните или напишите нам, мы проконсультируем вас и поможем выбрать подходящее решение.
            .implementation-help__button-wrap
              a.implementation-help__link.button.button--fill(href="#") Получить консультацию
        li.implementation-help__item
          .implementation-help__image
            img.implementation-help__img(src="static/images/content/implementation/help-2.png" width="280", height="206" alt="ampCrm")
          .implementation-help__wrapper
            p.implementation-help__head Битрикс24 – Самая крупная и быстро развивающаяся система. Сейчас более тридцать девяти процентов компаний, использующих CRM, остановили свой выбор на Битрикс24.
            p.implementation-help__text Битрикс24 – это социальная сеть для удобной работы, где собраны все необходимые рабочие инструменты. Самый полный набор инструментов для автоматизации Вашей компании. Битрикс24 включает CRM, управление задачами и процессами, сквозную аналитику, графики и отчеты, и многое другое для эффективной работы Вашей команды. Компания Integrator.Digital входит в пятерку крупнейших интеграторов по северо-западу.
            .implementation-help__button-wrap
              a.implementation-help__link.button.button--fill(href="#") Получить консультацию
        li.implementation-help__item
          .implementation-help__image
            img.implementation-help__img(src="static/images/content/implementation/help-3.png" width="280", height="206" alt="ampCrm")
          .implementation-help__wrapper
            p.implementation-help__head Разработка собственной CRM-системы. Индивидуальная CRM система может вывести ваш бизнес на новый уровень.
            p.implementation-help__text Вы можете оцифровывать все процессы и генерировать отчеты в любой удобной для вас форме. Как правило, внедрение индивидуальной CRM повышает эффективность бизнес-процессов на 29% - 42%. Стоимость разработки зависит от набора функций CRM и практически не зависит от количества пользователей, которые будут использовать систему.
            .implementation-help__button-wrap
              a.implementation-help__link.button.button--fill(href="#") Получить консультацию
