section.implementation-hero
  .container
    .implementation-hero__content
      h1.implementation-hero__title
        span.implementation-hero__title-top Внедрение CRM:
        span.implementation-hero__title-bottom автоматизация вашего бизнеса
      .implementation-hero__inner
        .implementation-hero__text
          p С какими сложностями сталкиваются руководители компании в процессе управления отделом продаж?
          p Если в вашей компании есть хотя бы две из перечисленных проблем, у нас есть эффективное решение.
        a.button.button--fill.implementation-hero__button(href="#") Заказать внедрение
      picture.implementation-hero__picture
        source(media="(min-width: 1280px)", srcset="static/images/content/implementation/hero-desktop.png")
        img.implementation-hero__img(src="static/images/content/implementation/hero-mobile.png" width="347", height="375" alt="Изображение человека")
