section.implementation-lead.settings-digital
  .container
    .settings-digital__content
      .settings-digital__inner
        +icon("integr-men", "settings-digital__icon", "29", "100")
        .settings-digital__wrapper
          h2.settings-digital__title К чему это приводит?
          p.settings-digital__note По статистике, перечисленные проблемы снижают Ваш доход #[b на 10-20 и более %].
      ul.settings-digital__list
        li.settings-digital__item
          span.settings-digital__number 01
          .settings-digital__box
            h3.settings-digital__heading Клиент остается недоволен и зол
        li.settings-digital__item
          span.settings-digital__number 02
          .settings-digital__box
            h3.settings-digital__heading Отрицательные отзывы ваших клиентов
        li.settings-digital__item
          span.settings-digital__number 03
          .settings-digital__box
            h3.settings-digital__heading Отсутствие повторных продаж
        li.settings-digital__item
          span.settings-digital__number 04
          .settings-digital__box
            h3.settings-digital__heading Снижение среднего чека за услугу/товар
        li.settings-digital__item
          span.settings-digital__number 05
          .settings-digital__box
            h3.settings-digital__heading Сарафанное радио работает против вас
