section.crm-dev-advantages
  .container
    .crm-dev-advantages__content
      h2.crm-dev-advantages__title Что мы предлагаем?
      ul.crm-dev-advantages__list
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 01
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Мобильная разработка
            p.crm-dev-advantages__text Разработка приложений под iOS. Разработка приложений на&nbsp;Android. Гибридная разработка. Разработка бэкенда для мобильных приложений. Серверные приложения.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 02
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Проект и дизайн
            p.crm-dev-advantages__text В&nbsp;рамках любого контракта мы&nbsp;бесплатно осуществляем разработку технического задания и&nbsp;прототипов экранов. Чёткое согласование требований&nbsp;&mdash; залог успеха.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 03
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Интеграция для бизнеса
            p.crm-dev-advantages__text Интеграция с&nbsp;сайтом. Интеграция с&nbsp;Битрикс24. Интеграция с&nbsp;amoCRM. Интеграция с&nbsp;1С&nbsp;и&nbsp;ERP системами. Подключение платежных систем. Сквозная аналитика.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 04
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Поддержка проектов
            p.crm-dev-advantages__text Публикация приложений в&nbsp;AppStore и&nbsp;Google Play. Сопровождение и&nbsp;обслуживание. Наполнение контентом. Администрирование серверов проекта.

