section.applications
  .applications__container.container
    h2.applications__title Мы делали многое и показываем вам лучшее:
    .applications__slider.swiper
      .swiper-wrapper
        .applications-slide.swiper-slide
          .applications-slide__wrapper
            .applications-slide__content
              h3.applications-slide__title Приложение для ЖКХ
              .applications-slide__text
                p.applications-slide__text-item Разработка мобильного приложения для жителей и&nbsp;управляющих компаний “Онлайн Дом”.
                p.applications-slide__text-item Интуитивно понятный интерфейс и&nbsp;удобное управление, что делает его простым в&nbsp;использовании.
                p.applications-slide__text-item Приложение позволяет управляющим компаниям управлять информацией о&nbsp;жильцах, рассылать уведомления, проводить оплаты и&nbsp;рассчитывать стоимость коммунальных услуг.
              a.applications-slide__link(href="#") Подробнее
            .applications-slide__pictures
              .applications-slide__picture.applications-slide__picture--left
                img(src="static/images/content/mobile-development/01.jpg" width="160", height="280" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--middle
                img(src="static/images/content/mobile-development/03.jpg" width="244", height="488" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--right
                img(src="static/images/content/mobile-development/02.jpg" width="160", height="280" alt="Изображение")
        .applications-slide.swiper-slide
          .applications-slide__wrapper
            .applications-slide__content
              h3.applications-slide__title Приложение для ЖКХ
              .applications-slide__text
                p.applications-slide__text-item Разработка мобильного приложения для жителей и&nbsp;управляющих компаний “Онлайн Дом”.
              a.applications-slide__link(href="#") Подробнее
            .applications-slide__pictures
              .applications-slide__picture.applications-slide__picture--left
                img(src="static/images/content/mobile-development/01.jpg" width="160", height="280" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--middle
                img(src="static/images/content/mobile-development/03.jpg" width="244", height="488" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--right
                img(src="static/images/content/mobile-development/02.jpg" width="160", height="280" alt="Изображение")
        .applications-slide.swiper-slide
          .applications-slide__wrapper
            .applications-slide__content
              h3.applications-slide__title Приложение для ЖКХ
              .applications-slide__text
                p.applications-slide__text-item Разработка мобильного приложения для жителей и&nbsp;управляющих компаний “Онлайн Дом”.
                p.applications-slide__text-item Интуитивно понятный интерфейс и&nbsp;удобное управление, что делает его простым в&nbsp;использовании.
                p.applications-slide__text-item Приложение позволяет управляющим компаниям управлять информацией о&nbsp;жильцах, рассылать уведомления, проводить оплаты и&nbsp;рассчитывать стоимость коммунальных услуг.
                p.applications-slide__text-item Разработка мобильного приложения для жителей и&nbsp;управляющих компаний “Онлайн Дом”.
                p.applications-slide__text-item Интуитивно понятный интерфейс и&nbsp;удобное управление, что делает его простым в&nbsp;использовании.
                p.applications-slide__text-item Приложение позволяет управляющим компаниям управлять информацией о&nbsp;жильцах, рассылать уведомления, проводить оплаты и&nbsp;рассчитывать стоимость коммунальных услуг.
                p.applications-slide__text-item Разработка мобильного приложения для жителей и&nbsp;управляющих компаний “Онлайн Дом”.
                p.applications-slide__text-item Интуитивно понятный интерфейс и&nbsp;удобное управление, что делает его простым в&nbsp;использовании.
                p.applications-slide__text-item Приложение позволяет управляющим компаниям управлять информацией о&nbsp;жильцах, рассылать уведомления, проводить оплаты и&nbsp;рассчитывать стоимость коммунальных услуг.
              a.applications-slide__link(href="#") Подробнее
            .applications-slide__pictures
              .applications-slide__picture.applications-slide__picture--left
                img(src="static/images/content/mobile-development/01.jpg" width="160", height="280" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--middle
                img(src="static/images/content/mobile-development/03.jpg" width="244", height="488" alt="Изображение")
              .applications-slide__picture.applications-slide__picture--right
                img(src="static/images/content/mobile-development/02.jpg" width="160", height="280" alt="Изображение")
      .swiper-pagination
