section.settings-hero.mobile-development-hero
  .container
    h1.visually-hidden Разработка мобильных приложений
    .settings-hero__content
      .settings-hero__info
        .settings-hero__top
          h2.settings-hero__title Разработка мобильных
        p.settings-hero__subtitle приложений #[br] в Санкт-Петербурге
        p.settings-hero__text Разработка, раскрутка и развитие приложений для iOS и Android для бизнеса
        form.settings-hero__form(action="#" method="POST")
          input.settings-hero__input._phone-mask(type="phone" name="settingsPhone" placeholder="+7 ( ___ )  ___ - __ - __")
          a.button.button--fill.settings-hero__button(href="#" data-mobile-text="Оставить заявку" data-desktop-text="Заказать консультацию")
      picture.settings-hero__picture
        img.settings-hero__img(src="static/images/content/mob-dev-hero.png" width="309", height="229" alt="Изображение продукта")
