section.prototype-development
  .container
    .prototype-development__wrapper
      .prototype-development__content
        h2.prototype-development__title Фиксированная цена разработки прототипа:
        p.prototype-development__price 49 000 ₽
        p.prototype-development__prompt Разработка технического задания и прототипа обязательная часть любого крупного проекта
        ul.prototype-development__list
          li.prototype-development__item
            h3.prototype-development__item-title Подготовительный этап
            p.prototype-development__item-text Интервью и согласование концепции, первый подготовительный этап разработки. Мы фиксируем пожелания и включаем их в ТЗ.
          li.prototype-development__item
            h3.prototype-development__item-title Разработка прототипа
            p.prototype-development__item-text Технические работы по проектированию разработки прототипа приложения под контролем наших лучших специалистов.
          li.prototype-development__item
            h3.prototype-development__item-title Согласование и корректировка
            p.prototype-development__item-text Любая индивидуальная задача всегда имеет двоечтение. Мы заранее закладываем две итерации правок для вашего комфорта.
      .prototype-development__picture
        .prototype-development__picture-wrapper
          img(src="static/images/content/mobile-development/applications.png" width="458", height="518" alt="Изображение")
