section.landing-stages.migration-stages.mobile-development-stages.crm-dev-stages
  .container
    .landing-stages__content
      h2.landing-stages__title Этапы разработки мобильного приложения
    .landing-stages__tabs(data-tabs='parent', data-delay='150')
      ul.landing-stages__controls(data-tabs='controls')
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-01", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Проектирование и ТЗ
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-02", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Дизайн и юзабилити
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-03", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Разработка
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-04", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Тестирование
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Публикация и раскрутка
      ul.landing-stages__content(data-tabs='content')
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Оформление и&nbsp;графический дизайн пользовательских интерфейсов требует особого внимания трёх наших специалистов.
              p Мы&nbsp;начинаем с&nbsp;проработки внутренней логики работы проекта, после чего&nbsp;&mdash; переключаемся на&nbsp;детальную проработку каждого отдельного экрана или пользовательского сценария.
              p Финальным этапом является создание удобного и&nbsp;функционального UI-кита для дальнейшей работы над проектом.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.

