section.settings-why-choice.mobile-development-choice
  .container
    .settings-why-choice__content
      h2.settings-why-choice__title Почему стоит обратиться к нам?
      ul.settings-why-choice__list
        li.settings-why-choice__item
          span.settings-why-choice__number 01
          .settings-why-choice__box
            h3.settings-why-choice__heading Приедем к вам в офис
            p.settings-why-choice__text Проведем интервью, чтобы выявить все потребности и&nbsp;ожидания от&nbsp;проекта. На&nbsp;основе проведенного анализа подготовим подробное&nbsp;КП со&nbsp;сроками реализации и&nbsp;этапами оплаты. Проконсультируем по&nbsp;всем нюансам разработки и&nbsp;последующей публикации.
        li.settings-why-choice__item
          span.settings-why-choice__number 02
          .settings-why-choice__box
            h3.settings-why-choice__heading Большой опыт
            p.settings-why-choice__text Опыт анализа, индивидуальной поэтапной и&nbsp;каскадной разработки, управления проектами&nbsp;&mdash; по&nbsp;договору с&nbsp;фиксированными сроками.
        li.settings-why-choice__item
          span.settings-why-choice__number 03
          .settings-why-choice__box
            h3.settings-why-choice__heading Более 180 разработок
            p.settings-why-choice__text Из&nbsp;более 300 наших проектов около 180 были сделаны по&nbsp;индивидуальному техническому заданию и&nbsp;прототипам.
        li.settings-why-choice__item
          span.settings-why-choice__number 04
          .settings-why-choice__box
            h3.settings-why-choice__heading Передовые технологии
            p.settings-why-choice__text Разработка в&nbsp;нативном окружении под определенную операционную систему: Kotlin или Java&nbsp;&mdash; для Android, Swift или ObjectiveC&nbsp;&mdash; для iOS.
        li.settings-why-choice__item
          span.settings-why-choice__number 05
          .settings-why-choice__box
            h3.settings-why-choice__heading Доступные цены
            p.settings-why-choice__text Автоматизация и&nbsp;распределение задач делают наши цены ниже среднерыночных при неизменном качестве и&nbsp;гарантированных сроках.
