.main-areas {
  border-bottom: 1px solid $pagination-color;
  overflow: hidden;
  margin: 0 0 35px 0;
  padding: 0 0 30px;
  @media screen and (min-width: $tablet-size) {
    margin: 0 0 55px 0;
    padding: 0 0 55px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 20px 0;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 30px 0;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__controls {
    overflow: inherit;
    margin: 0 0 20px 0;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 30px 0;
    }
  }
  &__controls-item {
    width: auto;
  }
  &__controls-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    transition: all ease-out .15s;
    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
      line-height: 25px;
    }
    &.is-active {
      color: $yellow-color;
    }
  }
  &__elements-list {
    display: grid;
    gap: 20px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: $desktop-size) {
      gap: 30px;
    }
  }
  &__picture {
    border-radius: 10px;
    display: block;
    height: 143px;
    overflow: hidden;
    margin: 0 0 15px 0;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 171px;
      margin: 0 0 20px 0;
    }
    @media screen and (min-width: $desktop-size) {
      height: 255px;
      margin: 0 0 25px 0;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin: 0 0 10px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
      line-height: 23px;
      margin: 0 0 12px 0;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 25px;
      margin: 0 0 16px 0;
    }
  }
  &__description {
    color: $text-note-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
