.nav {
  background-color: $white;
  margin: 0 -20px;
  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 20px 60px;
    position: relative;
  }
  &__item {
    display: flex;
    &:not(:last-child) {
      margin: 0 0 18px 0;
    }
  }
  &__link {
    align-items: center;
    color: $black;
    display: flex;
    font-family: $roboto-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    width: 100%;
  }
  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__sub-list {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 20px 25px 20px 60px;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all ease-out .3s;
    width: 100%;
    z-index: 1;
    &._active {
      transform: translateX(0);
    }
  }
  &__sub-item {
    display: flex;
    &:not(:last-child) {
      margin: 0 0 18px 0;
    }
  }
  &__sub-link {
    color: $gray-text-color;
    font-family: $roboto-font;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    &--active {
      font-weight: 500;
    }
    &--back,
    &--title {
      color: $black;
      font-weight: 500;
    }
  }
  &__sub-icon {
    left: -40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
}
