.mobile-development-hero {
  $root: &;

  padding: 40px 0 50px;

  @media screen and (min-width: $tablet-size) {
    padding: 40px 0;
  }

  @media screen and (min-width: $desktop-size) {
    padding: 81px 0;
  }

  .settings-hero__content {
    @media screen and (min-width: $tablet-size) {
      justify-content: center;
    }
  }

  .settings-hero__info {
    @media screen and (min-width: $desktop-size) {
      margin: 0;
    }
  }

  .settings-hero__text {
    margin: 0 0 26px 0;
  }

  .settings-hero__subtitle {
    br {
      display: none;

      @media screen and (min-width: $desktop-size) {
        display: block;
      }
    }
  }

  .settings-hero__form {
    @media screen and (min-width: $tablet-size) {
      gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .settings-hero__button {
    white-space: nowrap;
  }

  .settings-hero__picture {
    @media screen and (min-width: $desktop-size) {
      transform: translateX(-20px);
      margin: 0 0 -81px 0;
    }
  }
}
