.prototype-development {
  padding-top: 36px;
  padding-bottom: 35px;
  background-color: $magnolia-color;

  @media screen and (min-width: $small-desktop-size) {
    padding-top: 30px;
    padding-bottom: 55px;
  }
}

.prototype-development__wrapper {
  @media screen and (min-width: $small-desktop-size) {
    display: flex;
  }
}

.prototype-development__content {
  @media screen and (min-width: $small-desktop-size) {
    width: 502px;
    margin-right: 50px;
    padding-top: 25px;
  }
}

.prototype-development__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 0.01em;

  @media screen and (min-width: $small-desktop-size) {
    margin-bottom: 16px;
  }
}

.prototype-development__price {
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 17px;
  color: $purple-dark-color;
}

.prototype-development__prompt {
  font-size: 16px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 1px;
  padding-left: 19px;
  letter-spacing: 0.01em;
  border-left: 2px solid $purple-dark-color;

  @media screen and (min-width: $small-desktop-size) {
    margin-bottom: 30px;
  }
}

.prototype-development__list {
  counter-reset: tidbit-counter;
}

.prototype-development__item {
  position: relative;
  margin-bottom: 20px;
  padding: 21px 16px 21px 91px;
  border: 1px solid $pagination-color;
  border-radius: 10px;
  background: $white;
  gap: 10px;

  @media screen and (min-width: $small-desktop-size) {
    padding: 21px 21px 19px 91px;
  }

  &::before {
    font-family: $roboto-font;
    font-size: 22px;
    font-weight: 900;
    line-height: 130%;
    position: absolute;
    top: 21px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    content: counter(tidbit-counter, decimal-leading-zero);
    counter-increment: tidbit-counter;
    color: $yellow-color;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 0 15px rgba(98, 63, 162, 0.1);

    @media screen and (min-width: $small-desktop-size) {
      left: 21px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prototype-development__item-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 8px;
  letter-spacing: 0.01em;
  color: $purple-dark-color;

  @media screen and (min-width: $small-desktop-size) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.prototype-development__item-text {
  font-size: 14px;
  line-height: 128%;
  margin-top: 0;
  margin-bottom: 1em;
  letter-spacing: 0.01em;

  @media screen and (min-width: $small-desktop-size) {
    font-size: 16px;
    line-height: 130%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prototype-development__picture {
  display: none;

  @media screen and (min-width: $small-desktop-size) {
    display: block;
    width: calc(100% - 552px);
  }
}

.prototype-development__picture-wrapper {
  position: relative;
  width: 100%;
  max-width: 458px;
  padding-bottom: 109.75%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
