.sber-give {
  border-bottom: 1px solid #EDEDED;
  margin: 0 0 35px 0;
  padding: 0 0 35px 0;

  @media screen and (min-width: $small-desktop-size) {
    padding: 0;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $small-desktop-size) {
      flex-direction: row;
    }
  }

  &__picture {
    @media screen and (min-width: $small-desktop-size) {
      width: 665px;
      flex-shrink: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &__inner {
    margin: -10px 0 0 0;

    @media screen and (min-width: $small-desktop-size) {
      margin: 0 0 0 -50px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 14px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 21px;
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 14px 0;
    }

    &--bold {
      font-weight: 600;
    }
  }
}
