.other-materials {
  margin: 0 0 30px 0;

  @media screen and (min-width: $desktop-size) {
    margin: 0 0 60px 0;
  }
  &__title {
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 20px 0;
  }
  &__list {
    @media screen and (min-width: $tablet-size) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
  &__item {
    border: 1px solid $pagination-color;
    border-radius: 10px;
    padding: 30px 27px;

    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-direction: column;
      padding: 20px 15px;
    }

    @media screen and (min-width: $desktop-size) {
      padding: 30px;
    }
  }
  &__date {
    color: $text-note-color;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 0 10px 0;
  }
  &__heading {
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 0 0 10px 0;
  }
  &__text {
    color: $text-color;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 12px 0;

    @media screen and (min-width: $desktop-size) {
      margin: 0 0 30px 0;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 20px;

    @media screen and (min-width: $tablet-size) {
      margin: auto 0 0 0;
    }
  }
}
