.header {
  flex: 0 0 auto;
  &__top {
    background-color: $white;
    position: relative;
    z-index: 40;
    &::before {
      background: linear-gradient(90deg, rgba(209, 184, 255, 1) 0%, rgba(110, 26, 177, 1) 100%);
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      opacity: .3;
      position: absolute;
      width: 100%;

      @media screen and (min-width: $tablet-size) {
        display: none;
      }
    }
  }
  &__content {
    align-items: center;
    display: flex;
    padding: 16px 0;
    width: 100%;
  }
  &__logo-link {
    padding: 0 20px 0 0;
  }
  &__logo-picture {
    display: block;
    height: 28px;
    width: 184px;

    @media screen and (min-width: $tablet-size) {
      height: 41px;
      width: 178px;
    }
  }
  &__logo-img {
    height: 100%;
    width: 100%;
  }
  &__actions {
    align-items: center;
    display: flex;
    margin: 0 0 0 auto;

    @media screen and (min-width: $tablet-size) {
      flex: 1 0 auto;
      justify-content: flex-end;
    }
  }
  &__inner {
    background-color: $white;
    height: calc(var(--vh) * 100 - 60px);
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px 30px;
    position: fixed;
    pointer-events: none;
    top: 60px;
    transform: translateX(-100%);
    transition: all ease-out .5s;
    width: 100%;
    z-index: 30;

    @media screen and (min-width: $tablet-size) {
      background: linear-gradient(90.58deg, #5f3c9d -9.25%, #2a0845 111.8%);
      height: unset;
      overflow: unset;
      padding: 0;
      position: relative;
      pointer-events: unset;
      top: unset;
      transform: unset;
    }
    &._active {
      pointer-events: all;
      transform: translateX(0);
    }
  }
  &__call {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__call-link {
    align-items: center;
    color: $text-color;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 19px;
    text-decoration: none;
    width: 24px;

    @media screen and (min-width: $tablet-size) {
      align-items: unset;
      font-size: 14px;
      grid-row: 1 / -1;
      justify-content: unset;
      line-height: 16px;
      height: unset;
      width: unset;
    }
  }
  &__call-number {
    display: none;

    @media screen and (min-width: $tablet-size) {
      display: block;
    }
  }
  &__call-icon {
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__nav {
    @media screen and (min-width: $desktop-size) {
      margin: 0 auto;
      max-width: $content;
      padding: 0 20px;
      width: 100%;
    }
  }
  &__contacts {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__phones {
    display: flex;
    margin: 0 0 20px 0;
    width: 100%;

    @media screen and (min-width: $tablet-size) {
      display: grid;
      gap: 5px 30px;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto auto;
      margin: 0 30px 0 0;
      width: auto;
    }

    @media screen and (min-width: $desktop-size) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      gap: 20px;
    }
  }
  &__phone {
    align-items: center;
    color: $text-color;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;

    @media screen and (min-width: $tablet-size) {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  &__phone-separate {
    display: block;
    margin: 0 10px;

    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__phone-icon {
    margin: 0 8px 0 0;

    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__search {
    @media screen and (min-width: $desktop-size) {
      width: 20%;
    }
  }
}

@import "social";
