section.crm-dev-advantages
  .container
    .crm-dev-advantages__content
      h2.crm-dev-advantages__title Преимущества индивидуальной разработки CRM-системы
      ul.crm-dev-advantages__list
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 01
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Распределенный доступ сотрудников
            p.crm-dev-advantages__text Поэтапная разработка позволяет уже через 2&ndash;4&nbsp;месяца получить первый результат и&nbsp;установить систему с&nbsp;базовым функционалом.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 02
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Работа только с&nbsp;необходимой информацией
            p.crm-dev-advantages__text Внедряя CRM, компания увеличивает производительность и&nbsp;повышает лояльность клиентов
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 03
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Удобство выполнения поставленных задач
            p.crm-dev-advantages__text На&nbsp;стоимость разработки системы влияет объем данных CRM, спектр функциональных возможностей, наличие и&nbsp;сложность интеграций.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 04
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Доступ с&nbsp;компьютера, планшета или телефона
            p.crm-dev-advantages__text Вы&nbsp;сможете работать, а&nbsp;мы&nbsp;продолжим расширять функциональность системы, дорабатывая её&nbsp;по&nbsp;заранее согласованному плану.

