section.dev-conditions
  .container
    .dev-conditions__wrapper
      .dev-conditions__content
        h2.dev-conditions__title Условия разработки и стоимость работ по разработке
        .dev-conditions__description
          p.dev-conditions__text На стоимость разработки системы влияет объем данных CRM, спектр функциональных возможностей, наличие и сложность интеграций, количество поддерживаемых платформ.
          p.dev-conditions__text Воспользуйтесь нашим калькулятором, чтобы узнать ориентировочную стоимость. Или оставьте заявку и мы подготовим полный расчет индивидуально для вас.
        a.button.button--fill.dev-conditions__button(href="#") Оставить заявку
      .dev-conditions__aside
        ul.dev-conditions__list
          li.dev-conditions__item
            span.dev-conditions__item-name Функциональные требования
            span.dev-conditions__item-price от 10.000 руб
          li.dev-conditions__item
            span.dev-conditions__item-name Бизнес-анализ
            span.dev-conditions__item-price от 40.000 руб
          li.dev-conditions__item
            span.dev-conditions__item-name Проектирование и ТЗ
            span.dev-conditions__item-price от 70.000 руб
          li.dev-conditions__item
            span.dev-conditions__item-name Дизайн и верстка
            span.dev-conditions__item-price от 40.000 руб
          li.dev-conditions__item
            span.dev-conditions__item-name Разработка и кодирование
            span.dev-conditions__item-price от 350.000 руб
          li.dev-conditions__item
            span.dev-conditions__item-name Развитие и поддержка
            span.dev-conditions__item-price от 20.000 руб



