section.crm-dev-hero
  .container
    .crm-dev-hero__content
      .crm-dev-hero__inner
        h1.crm-dev-hero__title Разработка CRM-систем
        p.crm-dev-hero__text Повышает качество работы с клиентами и упрощает работу менеджеров.
        a.button.button--fill.crm-dev-hero__button(href="#") Рассчитать стоимость
      picture.crm-dev-hero__picture
        img.crm-dev-hero__img(src="static/images/content/crm-development/hero.png" width="462", height="406" alt="Изображение")


