section.boxed-competencies
  .container
    .boxed-comparison__container
      h2.boxed-competencies__title Вам нужны профессиональные разработчики для других услуг?
      p.boxed-competencies__text Обратитесь к нашим специалистам за сопутствующими услугами по разработке, которые помогут повысить производительность вашего бизнеса.
      ul.boxed-competencies__list
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Миграция из зарубежных CRM
          +icon("icon-crm", "boxed-competencies__icon boxed-competencies__icon--crm", "104", "32")
          a.boxed-competencies__shadow-link(href="#")
            span.visually-hidden Ссылка на раздел
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Разработка CRM
          +icon("icon-crm", "boxed-competencies__icon boxed-competencies__icon--crm", "104", "32")
          a.boxed-competencies__shadow-link(href="#")
            span.visually-hidden Ссылка на раздел
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Разработка ПО
          +icon("icon-quotes", "boxed-competencies__icon boxed-competencies__icon--quotes", "75", "44")
          a.boxed-competencies__shadow-link(href="#")
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Разработка мобильных приложений
          +icon("icon-ios-android", "boxed-competencies__icon boxed-competencies__icon--quotes", "75", "44")
          a.boxed-competencies__shadow-link(href="#")
