mixin migration-item(options)
  li.migration-offer__item
    h3.migration-offer__heading
      span.migration-offer__number!=options.number
      span.migration-offer__head!=options.head
    .migration-offer__inner
      p.migration-offer__text!=options.text

section.sber-descriprion
  .container
    .sber-descriprion__content
      h2.sber-descriprion__title SberCRM — система работы с клиентами для малого и среднего бизнеса
      h2.sber-descriprion__text SberCRM помогает вести сделки с клиентами, получать отчёты, общаться напрямую с клиентами и получать аналитику.
      ul.migration-offer__list
        +migration-item({
          number: '01',
          head: 'Удобный интерфейс',
          text: 'SberCRM имеет интуитивно понятный интерфейс, который позволяет легко приступить к работе без предварительного обучения. Легко создаваемые контакты, сделки, задачи, редактируемые отчеты и другое.'
        })
        +migration-item({
          number: '02',
          head: 'Чистые, наглядные данные',
          text: 'Миграция сервисов на единую платформу улучшает качество данных за счет очистки, структуры и доступа в режиме реального времени. Это позволяет принимать лучшие решения в бизнесе.'
        })
        +migration-item({
          number: '03',
          head: 'Функциональность',
          text: 'СберCRM включает в себя возможности анализа и автоматизации на основе искусственного интеллекта для персонализированного взаимодействия с клиентами.'
        })
        +migration-item({
          number: '04',
          head: 'Быстрая окупаемость',
          text: 'SberCRM оснащена расширенными возможностями автоматизации процессов, управления данными, повышения эффективности, что позволяет команде сосредоточиться на увеличении продаж.'
        })
        +migration-item({
          number: '05',
          head: 'Интеграция с сервисами ',
          text: 'Современная SberCRM интегрирует данные из разных источников: от MANGO OFFICE до VK и Телеграм, и предоставляет сотрудникам доступ к важной информации о рынке, спросе, клиентах и прочее.'
        })
        +migration-item({
          number: '06',
          head: 'Безопасность ',
          text: 'Все данные SberCRM, надежно защищены с помощью современных технологий шифрования. Доступен модуль проверки безопасности контрагентов и подрядчиков.'
        })


