section.sber-give
  .container
    .sber-give__content
      .sber-give__picture
        img(src="static/images/content/sber/give-mac.png", width="320", height="240" alt="Изображение компьютера")
      .sber-give__inner
        h2.sber-give__title Что даёт SberCRM
        p.sber-give__text SberCRM —облачная CRM-платформа, получившая высокую оценку пользователей за простоту использования. Имеет множество функций: как управление сделками и клиентами, управление воронкой продаж, помощник искусственного интеллекта, аналитика, учет времени, обсуждения в задачах и многое другое.
        p.sber-give__text SberCRM универсальная платформа для вывода вашего бизнеса на новый уровень. Миграция данных в SberCRM проста, независимо от того, какими сервисами вы пользуйтесь в данный момент.
        p.sber-give__text.sber-give__text--bold Мы предлагаем клиентам множество вариантов, которые могут помочь облегчить процесс миграции, не тратя огромных денег!
