section.support-hero.support-hero--sber
  .container
    .support-hero__content
      .support-hero__inner
        h1.support-hero__title Внедрение SberCRM для вашего бизнеса
        p.support-hero__text Легко объединяйте данные о компании, сотрудников и клиентов на одной платформе, которая растет вместе с вашим бизнесом. Integrator.Digital—официальный партнер SberCRM
        .support-hero__wrapper
          a.button.button--fill.support-hero__btn(href="#") Получить демо версию
          a.button.button--fill.support-hero__btn(href="#") Обсудить проект
      .support-hero__img-wrap.support-hero__img-wrap--sber
        picture
          img(src="static/images/content/sber/hero.png" width="501", height="377" alt="Изображение")


