section.boxed-help.migration-suggestions
  .container
    .boxed-help__content
      .boxed-help__description
        h2.visually-hidden Остались вопросы?
        p.boxed-help__text Наша команда готова сопровождать вас на каждом этапе процесса, обеспечивая безопасность и доступность всех данных
      form.boxed-help__form(action="#", method="post", name="boxedHelp")
        input.boxed-help__input._phone-mask(type="tel", name="boxedHelpYouPhone", aria-label="Оставьте свой телефон", placeholder="+7 (___) ___ - __ - __")
        button.boxed-help__button.button.button--purple(type="submit") Оставить заявку
