section.clouds-advantages.clouds-advantages--sber
  .container
    .clouds-advantages__content
      h2.clouds-advantages__title Мы являемся партнерами SberCRM
      p.clouds-advantages__text Последовательно переносим данные из разных сервисов с минимальным ущербом для бизнеса наших клиентов. Вы можете быть уверены, что наша команда и СберCRM будут работать на вас
      ul.clouds-advantages__list
        li.clouds-advantages__item
          span.clouds-advantages__number 01
          p.clouds-advantages__desc Мы аккуратно перенесем все ваши данные в нужном порядке. Все изменения применяются в точной последовательности, без потери данных или создания дубликатов.
        li.clouds-advantages__item
          span.clouds-advantages__number 02
          p.clouds-advantages__desc Оценим ваши уникальные бизнес-потребности и текущее состояние базы данных. Затем мы выбираем инструменты и стратегию миграции, соответствующие вашим целям.
        li.clouds-advantages__item
          span.clouds-advantages__number 03
          p.clouds-advantages__desc Специалисты Integrator.Digital корректируют структуру вашей системы по мере развития вашего бизнеса, обеспечивая гибкость и готовность к изменениям.
        li.clouds-advantages__item
          span.clouds-advantages__number 04
          p.clouds-advantages__desc Имеем обширный опыт внедрения цифровых технологий в различных отраслях, включая логистику, финансовые технологии, торговлю и многие другие.

