section.support-price.clouds-price.clouds-price--sber
  .container
    h2.support-price__title Стоимость доработки и внедрения SberCRM
    .support-price__accordion(data-accordion="parent", data-single, data-close-inner, data-destroy="(max-width: 1023px)")
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--gray
          h3.support-price__name 19 800 ₽
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Доработка вашей SberCRM
              li.support-price__item
                span.support-price__desc Настройка бизнес-процессов
              li.support-price__item
                span.support-price__desc Настройка калькуляции полей
              li.support-price__item
                span.support-price__desc Подключение телефонии и WhatsApp
            a.support-price__link.button.button--purple(href="#") Хочу заказать
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--purple
          h3.support-price__name 49 000 ₽
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Проведение базового внедрения SberCRM
              li.support-price__item
                span.support-price__desc Настройка системы под нужды вашей компании
            a.support-price__link.button.button--purple(href="#") Хочу заказать
