section.boxed-about
  .container
    .boxed-about__content
      .boxed-about__slider.swiper
        ul.boxed-about__list.swiper-wrapper
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title О коробочной версии Битрикс24
              .boxed-about__text
                p «Битрикс24 в коробке» — это специальное программное обеспечение, предназначенное для установки на собственный сервер, купленный или арендованный.
                p После его установки и настройки вы получите в свое распоряжение портал Битрикс24, аналогичный облачному порталу, но обладающий более широкими возможностями кастомизации и приватности.
                p Основным отличием коробки от облачного портала является возможность тонкой доработки под индивидуальные потребности компании. Открытый исходный код позволяет реализовывать любые сценарии бизнес-процессов, недоступные для облака.
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title О коробочной версии Битрикс24
              .boxed-about__text
                p «Битрикс24 в коробке» — это специальное программное обеспечение, предназначенное для установки на собственный сервер, купленный или арендованный.
                p После его установки и настройки вы получите в свое распоряжение портал Битрикс24, аналогичный облачному порталу, но обладающий более широкими возможностями кастомизации и приватности.
                p Основным отличием коробки от облачного портала является возможность тонкой доработки под индивидуальные потребности компании. Открытый исходный код позволяет реализовывать любые сценарии бизнес-процессов, недоступные для облака.
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title О коробочной версии Битрикс24
              .boxed-about__text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur distinctio libero minima molestias, rem vero? Aliquam dolore doloribus id inventore ipsa pariatur quaerat sapiente tempora ullam! Aliquam at consequatur culpa dolor eaque excepturi ipsum iure maiores nesciunt nisi non obcaecati optio, porro quaerat rem repellendus rerum similique unde veniam voluptatibus! Aut dignissimos, dolorum eligendi enim maiores omnis perspiciatis quia quos repellendus! A eligendi ipsam maiores rem soluta. Accusamus animi, deserunt earum eos est eum explicabo illo molestiae mollitia neque nisi numquam possimus praesentium provident quas quos reiciendis repellendus repudiandae similique velit veniam vero voluptatem? Facilis harum hic placeat rerum?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam architecto consequatur culpa debitis dolorem eligendi et facere fugiat inventore iste magnam maiores minima modi, molestiae molestias nisi obcaecati pariatur perferendis provident quidem quis rem sed sit vitae voluptates. Est exercitationem nemo quaerat ratione rerum saepe sequi, sint voluptatum?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto necessitatibus nulla possimus sequi sunt. Accusamus accusantium architecto assumenda beatae cum delectus dicta dolore doloribus facere facilis ipsam iure nesciunt perspiciatis quam quia similique sint totam, vel voluptate voluptatem! A autem culpa debitis dolor ducimus ex facilis, illo ipsum, molestias necessitatibus suscipit vero, voluptates voluptatibus! Beatae eligendi magnam odio officiis velit.
        .boxed-about__nav-bullets
