section.boxed-about
  .container
    .boxed-about__content
      .boxed-about__slider.swiper
        ul.boxed-about__list.swiper-wrapper
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title Описание коробочной версии Битрикс24
              .boxed-about__text
                p «Битрикс24 в коробке» — это специальное программное обеспечение, предназначенное для установки на собственный сервер, купленный или арендованный. После его установки и настройки вы получите в свое распоряжение портал Битрикс24, аналогичный облачному порталу, но обладающий более широкими возможностями кастомизации и приватности.
                p Основным отличием коробки от облачного портала является возможность тонкой доработки под индивидуальные потребности компании. Открытый исходный код позволяет реализовывать любые сценарии бизнес-процессов, недоступные для облака.
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title Что вы получаете (о лицензии, продлении) при покупке коробочной версии Битрикс24
              .boxed-about__text
                p Купив лицензию на коробочную редакцию Битрикс24, вы получаете возможность развернуть на своем сервере собственный рабочий портал и получать в течение года обновления программного обеспечения. На протяжении срока действия лицензии администраторы портала смогут получать техническую поддержку в специальном чате.
                p После завершения срока лицензии портал продолжит работать, но с рядом ограничений. Раз в год лицензию можно продлить за 25% от ее стоимости и увеличить срок ее действия еще на 12 месяцев.
          li.boxed-about__item.swiper-slide
            picture.boxed-about__picture
              source(media="(min-width: 768px)", srcset="static/images/content/boxed-version/about-tablet-1.png")
              img.boxed-about__img(src="static/images/content/boxed-version/about-mobile-1.png" width="280" height="184" alt="Картинка слайдера")
            .boxed-about__description
              h2.boxed-about__title Для кого подойдет коробочная версия Битрикс24
              .boxed-about__text
                p Коробочная версия подойдет тем, кому недостаточно стандартных возможностей облачного портала. Благодаря кастомизации, коробка позволяет дорабатывать функционал портала под индивидуальные потребности бизнеса.
                p Еще одной особенностью, которая может склонить компанию в пользу выбора коробки, является приватность. Вся информация хранится на вашем собственном сервере: это может быть важным как для клиентов, так и для самого предприятия. Бережное обращение с персональными данными клиентов может стать хорошим конкурентным преимуществом.
        .boxed-about__nav-bullets
