section.boxed-advantages
	.container
		.boxed-advantages__content
			h2.boxed-advantages__title Преимущества коробочной версии Битрикс24
			ul.boxed-advantages__list
				li.boxed-advantages__item
					span.boxed-advantages__number 01
					p.boxed-advantages__text Безопасность данных: вся информация хранится на собственном сервере.
				li.boxed-advantages__item
					span.boxed-advantages__number 02
					p.boxed-advantages__text Можно установить любой размер диска, независимо от выбранной лицензии.
				li.boxed-advantages__item
					span.boxed-advantages__number 03
					p.boxed-advantages__text Больше доступных инструментов и интеграций.
				li.boxed-advantages__item
					span.boxed-advantages__number 04
					p.boxed-advantages__text Широкие возможности настройки и кастомизации интерфейса.
				li.boxed-advantages__item
					span.boxed-advantages__number 05
					p.boxed-advantages__text Портал продолжит работать даже без продления лицензии.
				li.boxed-advantages__item
					span.boxed-advantages__number 06
					p.boxed-advantages__text Гибкая настройка прав доступа и разрешений.
