section.boxed-comparison
  .container
    .boxed-comparison__content
      h2.boxed-comparison__title Сравнение редакций коробочной Битрикс24
      .boxed-comparison__accordion(data-accordion='parent', data-close-inner)
        .boxed-comparison__accordion-element(data-accordion='element')
          .boxed-comparison__accordion-button(data-accordion='button')
            .boxed-comparison__accordion-inner
              span.boxed-comparison__accordion-title Интернет-магазин + CRM
              +icon("icon-chevrone-button", "boxed-comparison__accordion-icon", "12", "6")
            span.boxed-comparison__accordion-price 99 000 руб.
          .boxed-comparison__accordion-content(data-accordion='content')
            .boxed-comparison__accordion-wrapper
              ul.boxed-comparison__accordion-list
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Пользователи
                  span.boxed-comparison__accordion-value 12
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Экстранет
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key eCommerce-платформа
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Веб-кластер
                  +icon("icon-purple-x", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Многодепартаментность
                  +icon("icon-purple-x", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Техподдержка на весь срок лицензии
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item.boxed-comparison__accordion-item--buy
                  a.boxed-comparison__accordion-buy.button.button--fill(href="#") Купить
        .boxed-comparison__accordion-element(data-accordion='element')
          .boxed-comparison__accordion-button(data-accordion='button')
            .boxed-comparison__accordion-inner
              span.boxed-comparison__accordion-title Корпоративный портал
              +icon("icon-chevrone-button", "boxed-comparison__accordion-icon", "12", "6")
            span.boxed-comparison__accordion-price 139 000 руб.
          .boxed-comparison__accordion-content(data-accordion='content')
            .boxed-comparison__accordion-wrapper
              ul.boxed-comparison__accordion-list
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Пользователи
                  span.boxed-comparison__accordion-value 50 100 250 500
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Экстранет
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key eCommerce-платформа
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Веб-кластер
                  +icon("icon-purple-x", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Многодепартаментность
                  +icon("icon-purple-x", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Техподдержка на весь срок лицензии
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item.boxed-comparison__accordion-item--buy
                  a.boxed-comparison__accordion-buy.button.button--fill(href="#") Купить
        .boxed-comparison__accordion-element(data-accordion='element')
          .boxed-comparison__accordion-button(data-accordion='button')
            .boxed-comparison__accordion-inner
              span.boxed-comparison__accordion-title Энтерпрайз
              +icon("icon-chevrone-button", "boxed-comparison__accordion-icon", "12", "6")
            span.boxed-comparison__accordion-price 999 000 + руб.
          .boxed-comparison__accordion-content(data-accordion='content')
            .boxed-comparison__accordion-wrapper
              ul.boxed-comparison__accordion-list
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Пользователи
                  span.boxed-comparison__accordion-value 100+
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Экстранет
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key eCommerce-платформа
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Веб-кластер
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Многодепартаментность
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item
                  span.boxed-comparison__accordion-key Техподдержка на весь срок лицензии
                  +icon("icon-yellow-check", "boxed-comparison__accordion-value--icon", "22", "22")
                li.boxed-comparison__accordion-item.boxed-comparison__accordion-item--buy
                  a.boxed-comparison__accordion-buy.button.button--fill(href="#") Купить
      a.boxed-comparison__link(href="#") Узнать больше об этом
