section.boxed-faq
  .container
    .boxed-faq__content
      h2.boxed-faq__title Частые  вопросы по коробочной версии Битрикс24
      .boxed-faq__accordion(data-accordion='parent', data-close-inner)
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Можно ли перенести данные из облака в коробку?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p.boxed-faq__accordion-text Битрикс позволяет переносить данные из облака в коробку, но сделать это можно только один раз. Процедура переноса состоит из создания резервной копии облачного портала и ее развертывании на своем оборудовании. Подготовкой резервной копии занимаются специалисты Битрикс24, а развертыванием — интегратор. В зависимости от количества данных на портале, создание резервной копии может занимать несколько дней.
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Что будет, если не продлить лицензию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Как перейти на другую редакцию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Как продлить лицензию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos dolor dolorem ducimus eius, error explicabo facere hic nihil rem!
