section.boxed-faq
  .container
    .boxed-faq__content
      h2.boxed-faq__title Частые  вопросы по коробочной версии Битрикс24
      .boxed-faq__accordion(data-accordion='parent', data-close-inner)
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Можно ли перенести данные из облака в коробку?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Битрикс позволяет переносить данные из облака в коробку, но сделать это можно только один раз. Процедура переноса состоит из создания резервной копии облачного портала и ее развертывании на своем оборудовании. Подготовкой резервной копии занимаются специалисты Битрикс24, а развертыванием — интегратор. В зависимости от количества данных на портале, создание резервной копии может занимать несколько дней.
              p Особенности переноса:
              ul
                li нельзя объединить несколько облачных порталов в одну коробку;
                li для переноса потребуется ключ лицензии коробочной редакции;
                li лицензия коробочной редакции должна позволять перенести нужное число пользователей портала;
                li установленные приложения не переносятся — потребуется установить и настроить их заново;
                li при переносе останутся только те инструменты, которые доступны в вашей лицензии коробочной редакции;
                li телефонию и почту потребуется настраивать заново: для работы исходящей почты понадобится собственный почтовый сервер.
              p Несмотря на то, что процесс переноса максимально автоматизирован, для выполнения ряда действий потребуется привлечение специалистов: в частности, при настройке сервера исходящей почты, установке SSL-сертификата и переносе телефонии.
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Что будет, если не продлить лицензию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Если не продлить лицензию на коробочную редакцию, то порталом можно будет продолжать пользоваться, но с рядом ограничений. Помимо ввода ограничений, пропадет доступ к технической поддержке: она оказывается только в рамках срока оплаченной лицензии.
              p Основные технические ограничения при неактивной лицензии:
              ul
                li программное обеспечение портала не сможет получать обновления;
                li пропадет доступ к решениям, установленным из Битрикс24.Маркет;
                li станет невозможно публиковать и редактировать сайты с использованием конструктора «Сайты24»;
                li функционал открытых линий сократится до Онлайн-чата — прочие возможности будут недоступны;
                li перестанет работать встроенная облачная телефония;
                li отключится ряд инструментов CRM, например, автоматическое заполнение реквизитов ИНН.
              p Станет невозможным использование REST методов и событий, а значит и всех связанных решений. Перестанут работать модули поисковой оптимизации и защиты от распределенных DoS-атак. Это неполный список ограничений, есть и другие.
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Как перейти на другую редакцию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Переход на другую редакцию коробочного продукта Битрикс доступен только при наличии активной лицензии, позволяющей получать обновления продукта. При смене лицензии не нужно выполнять нового развертывания и настройки — она просто откроет доступ к дополнительным инструментам и функционалу на существующем портале. Вся информация и данные на портале сохранятся.
              p Стоимость смены редакции обычно равна разнице между действующей лицензией и той, на которую происходит переход. Это означает, что вы не приобретаете новую лицензию, а лишь расширяете возможности старой. Следовательно, срок действия лицензии не продлевается, а остается прежним.
        .boxed-faq__accordion-element(data-accordion='element')
          button.boxed-faq__accordion-button(data-accordion='button')
            span.boxed-faq__accordion-title Как продлить лицензию?
            +icon("icon-chevrone-button", "boxed-faq__accordion-icon", "12", "6")
          .boxed-faq__accordion-content(data-accordion='content')
            .boxed-faq__accordion-wrapper
              p Чтобы продлить лицензию, необходимо обратиться к своему интегратору или посетить сайт #[a(href="https://1c-bitrix.ru" target="_blank") 1c-bitrix.ru]. Стоимость продления составляет 25% от стоимости действующей лицензии, а воспользоваться этой возможностью можно не чаще одного раза в год. Продлить можно любую лицензию, независимо от того, сколько времени она была неактивна: после ее активации станут доступны все актуальные обновления и включенный в условия функционал. Процедура продления лицензии делает ее активной на 12 месяцев.
              p Активная лицензия — это самый новый функционал, техническая поддержка и актуальное программное обеспечение. Установка обновлений происходит в автоматическом режиме и не требует никаких действий. После обновления вы получите последние патчи безопасности, повышение скорости работы установленного программного обеспечения, новые интеграции и инструменты.
