section.boxed-hero
	.container
		h1.visually-hidden Коробочная версия битрикса
		.boxed-hero__content
			.boxed-hero__info
				h2.boxed-hero__subtitle Коробочная версия
				picture.boxed-hero__logo-picture
					source(media="(min-width: 1280px)", srcset="static/images/content/bitrix-img-desktop.png")
					img.main-customization__logo-img(src="static/images/content/bitrix-img-mobile.png" width="180" height="33" alt="Картинка надписи Битрикс 24")
				p.boxed-hero__text При покупке лицензии - установка и настройка системы на вашем сервере #[span.boxed-hero__text.boxed-hero__text--purple совершенно бесплатно!]
				a.button.button--fill.boxed-hero__button(href="#") Оставить заявку
			picture.boxed-hero__picture
				source(media="(min-width: 1280px)", srcset="static/images/content/boxed-version/hero-desktop.png")
				img.boxed-hero__img(src="static/images/content/boxed-version/hero-tablet.png" width="315", height="315" alt="Изображение продукта")
