section.crm-dev-advantages.clouds-adv-box
  .container
    .crm-dev-advantages__content
      h2.crm-dev-advantages__title Преимущества коробочной Битрикс24
      ul.crm-dev-advantages__list
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 01
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Гибкое управление программой
            p.crm-dev-advantages__text Используя панель настройки, можно управлять модулями платформы, формировать индивидуальную организационную структуру, устанавливать частоту обновлений, очищать кэш, создавать резервные копии данных и следить за разработкой новых функций.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 02
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Полная защита данных компании
            p.crm-dev-advantages__text Вся информация размещается на сервере компании и полностью подвергается её контролю. Процедуры обработки данных, включая код платформы, также располагаются на сервере и остаются недоступными для посторонних лиц.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 03
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Собственные права доступов для сотрудников
            p.crm-dev-advantages__text Возможность настройки индивидуальных прав для каждого сотрудника или отдела компании. Это способствует организации более структурированного использования данных и сокращает вероятность утраты корпоративной конфиденциальной информации.
        li.crm-dev-advantages__item
          span.crm-dev-advantages__number 04
          .crm-dev-advantages__inner
            h3.crm-dev-advantages__heading Максимальная гибкость и кастомизация
            p.crm-dev-advantages__text Путем доступа к коду, разработчики имеют возможность воплотить практически любые функции и также осуществить интеграцию программы с разнообразными программами и сервисами с использованием API.

