section.clouds-advantages
  .container
    .clouds-advantages__content
      h2.clouds-advantages__title Мы используем мигратор собственной разработки
      p.clouds-advantages__text Для переноса Битрикс24 из облака в коробку - мы разработали собственный сервис, который обладает целым рядом преимуществ
      ul.clouds-advantages__list
        li.clouds-advantages__item
          span.clouds-advantages__number 01
          p.clouds-advantages__desc Мигратор Битрикс24 позволяет переносить данные CRM, которые не доступны, через API методы, как например - "Чаты".
        li.clouds-advantages__item
          span.clouds-advantages__number 02
          p.clouds-advantages__desc Из облака Битрикс24 в коробку переносятся: лиды, сделки, контакты и компании, Также можно мигрировать между двумя коробками.
        li.clouds-advantages__item
          span.clouds-advantages__number 03
          p.clouds-advantages__desc Приложение постоянно развивается, в ближайшее время планируется реализовать перенос данных из задач и проектов и смарт процессы.
        li.clouds-advantages__item
          span.clouds-advantages__number 04
          p.clouds-advantages__desc Процесс миграции  осуществляется быстро, так как  процесс разбивается на простые подоперации.
        li.clouds-advantages__item
          span.clouds-advantages__number 05
          p.clouds-advantages__desc Переносятся как текстовые, так и бинарные данные. Например файлы, прикреплённые к задачам или телефонные звонки.
        li.clouds-advantages__item
          span.clouds-advantages__number 06
          p.clouds-advantages__desc К каждой переносимой сущности прикрепляется своя история взаимодействия с клиентом.

