section.clouds-causes
  .container
    .clouds-causes__content
      h2.clouds-causes__title Причины переноса Битрикс24 из облака в коробку
      ul.clouds-causes__list
        li.clouds-causes__item
          .clouds-causes__inner
            span.clouds-causes__icon
              +icon("icon-custom", "", "24", "24")
            h3.clouds-causes__heading Ограничения в кастомизации
          p.clouds-causes__text Нехватка типового функционала облачной версии и невозможность реализовать нужные задачи с помощью создания приложений к облачному порталу.
        li.clouds-causes__item
          .clouds-causes__inner
            span.clouds-causes__icon
              +icon("icon-close-code", "", "24", "24")
            h3.clouds-causes__heading Закрытый код
          p.clouds-causes__text Доступа к коду нет, а его прямые модификации запрещены. Если плагинами нельзя запрограммировать сложную логику, то реализовать ее не получится.
        li.clouds-causes__item
          .clouds-causes__inner
            span.clouds-causes__icon
              +icon("icon-data", "", "24", "24")
            h3.clouds-causes__heading Удаленное хранение данных
          p.clouds-causes__text Предписанные нормами требования к сохранению данных на серверах компании.
        li.clouds-causes__item
          .clouds-causes__inner
            span.clouds-causes__icon
              +icon("icon-pazzle", "", "24", "24")
            h3.clouds-causes__heading Ограниченная интеграция
          p.clouds-causes__text Необходимость сложной интеграции с другими программными продуктами, используемым в компании.
