section.boxed-help.migration-suggestions
  .container
    .boxed-help__content
      .boxed-help__description
        h2.boxed-help__title Остались вопросы?
        p.boxed-help__text Оставьте заявку на консультацию и мы ответим на все ваши вопросы!
      form.boxed-help__form(action="#", method="post", name="boxedHelp")
        input.boxed-help__input._phone-mask(type="tel", name="boxedHelpYouPhone", aria-label="Оставьте свой телефон", placeholder="+7 (___) ___ - __ - __")
        button.boxed-help__button.button.button--purple(type="submit") Оставить заявку
