section.boxed-competencies
  .container
    .boxed-comparison__container
      h2.boxed-competencies__title Сфера наших компетенций
      p.boxed-competencies__text Помимо осуществления миграции из облачной Битрикс24 в коробку, мы можем предложить ряд услуг по следующим направлениям:
      ul.boxed-competencies__list
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Миграция из зарубежных CRM
          +icon("icon-crm", "boxed-competencies__icon boxed-competencies__icon--crm", "104", "32")
          a.boxed-competencies__shadow-link(href="#")
            span.visually-hidden Ссылка на раздел
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Сопровождение и поддержка Битрикс24
          +icon("icon-crm", "boxed-competencies__icon boxed-competencies__icon--crm", "104", "32")
          a.boxed-competencies__shadow-link(href="#")
            span.visually-hidden Ссылка на раздел
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Разработка ПО
          +icon("icon-quotes", "boxed-competencies__icon boxed-competencies__icon--quotes", "75", "44")
          a.boxed-competencies__shadow-link(href="#")
        li.boxed-competencies__item
          h3.boxed-competencies__subtitle Разработка мобильных приложений
          +icon("icon-ios-android", "boxed-competencies__icon boxed-competencies__icon--quotes", "75", "44")
          a.boxed-competencies__shadow-link(href="#")
