section.clouds-hero
  .container
    .clouds-hero__content
      .clouds-hero__inner
        h1.clouds-hero__title Перенос Битрикс24 из облака в коробку
        p.clouds-hero__text С 1 сентября 2023 года 1С-Битрикс прекратил предоставление услуги по переносу, а значит - самое время представить наш новый сервис по миграции из облака в коробку!
        a.button.button--fill.clouds-hero__btn(href="#") Заказать перенос Битрикс24
      .clouds-hero__img
        picture
          img(src="static/images/content/clouds/hero.png" width="420", height="420", alt="Изображение")


