section.clouds-migration
  .container
    .clouds-migration__content
      .clouds-migration__left
        +icon("integr-men", "clouds-migration__men", "31", "100")
        .clouds-migration__box
          h2.clouds-migration__title Что включает мигратор от integrator.Digital
          p.clouds-migration__text Мы постоянно развиваем и улучшаем наш сервис. Ознакомьтесь с тем, что мы уже можем предложить вам, а также с перечнем задач в разработке.
      .clouds-migration__tabs(data-tabs="parent")
        ul.clouds-migration__controls(data-tabs="controls")
          li.clouds-migration__control
            button.clouds-migration__tab(data-tabs="control") Реализовано
          li.clouds-migration__control
            button.clouds-migration__tab(data-tabs="control") В разработке
        .clouds-migration__elements(data-tabs="content")
          .clouds-migration__elem(data-tabs="element")
            .clouds-migration__wrap
              ul.clouds-migration__list
                li.clouds-migration__item Статусы сделок, лидов и других сущностей CRM*
                li.clouds-migration__item Пользовательские поля CRM
                li.clouds-migration__item Направления сделок
                li.clouds-migration__item Пользователи
                li.clouds-migration__item Контакты
                li.clouds-migration__item Компании
                li.clouds-migration__item Сделки
              ul.clouds-migration__list
                li.clouds-migration__item Статусы сделок, лидов и других сущностей CRM
                li.clouds-migration__item Привязка товаров к сделкам и лидам
                li.clouds-migration__item Привязка контактов, компаний, сделок и лидов друг к другу
                li.clouds-migration__item Каталог и товары
                li.clouds-migration__item Лиды
            .clouds-migration__buttons
              a.clouds-migration__link.button.button--fill(href="#") Получить больше информации
              a.clouds-migration__link.button.button--purple(href="#") Заказать
          .clouds-migration__elem(data-tabs="element")
            ul.clouds-migration__list
              li.clouds-migration__item Статусы сделок, лидов и других сущностей CRM
              li.clouds-migration__item Привязка товаров к сделкам и лидам
              li.clouds-migration__item Привязка контактов, компаний, сделок и лидов друг к другу
              li.clouds-migration__item Каталог и товары
              li.clouds-migration__item Лиды
            .clouds-migration__buttons
              a.clouds-migration__link.button.button--fill(href="#") Получить больше информации
              a.clouds-migration__link.button.button--purple(href="#") Заказать
