section.support-price.clouds-price
  .container
    h2.support-price__title Стоимость переноса из облака в коробку
    p.clouds-price__desc Стоимость переезда напрямую зависит от того, где вы приобрели коробочную версию Битрикс24
    .support-price__accordion(data-accordion="parent", data-single, data-close-inner, data-destroy="(max-width: 1023px)")
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--gray
          h3.support-price__name Бесплатно
          span.support-price__time При покупке у нас лицензии “Корпоративный портал”
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Полный перенос и запуск последней резервной копии Битрикс24
              li.support-price__item
                span.support-price__desc Установленный SSL-сертификат и шифрование данных
              li.support-price__item
                span.support-price__desc Активация лицензии Битрикс24
              li.support-price__item
                span.support-price__desc Проведение пусконаладочных работы и настройки резервного копирования
            a.support-price__link.button.button--purple(href="#") Хочу заказать
      .support-price__element(data-accordion="element")
        .support-price__head.support-price__head--purple
          h3.support-price__name 75 000 ₽
          span.support-price__time При наличии лицензии
          button.support-price__button(data-accordion="button")
            +icon("icon-chevron-down2", false, "24", "24")
        .support-price__content(data-accordion="content")
          .support-price__box
            ul.support-price__list
              li.support-price__item
                span.support-price__desc Полный перенос и запуск последней резервной копии Битрикс24
              li.support-price__item
                span.support-price__desc Установленный SSL-сертификат и шифрование данных
              li.support-price__item
                span.support-price__desc Активация лицензии Битрикс24
              li.support-price__item
                span.support-price__desc Проведение пусконаладочных работ и настройки резервного копирования
            a.support-price__link.button.button--purple(href="#") Хочу заказать
