section.clouds-rate
  .container
    .clouds-rate__content
      .clouds-rate__wrapper
        h2.clouds-rate__title Выберите свой тариф Битрикс24:
        a.clouds-rate__link.clouds-rate__link--desktop(href="#") Ко всем тарифам
      .clouds-rate__slider.swiper
        ul.clouds-rate__list.swiper-wrapper
          li.clouds-rate__item.swiper-slide
            .clouds-rate__img
              picture
                img(src="static/images/content/clouds/box.png" width="241", height="234", alt="Изображение")
            p.clouds-rate__desc Битрикс24 Лицензия Интернет-магазин + CRM
            span.clouds-rate__price 109 000 ₽
          li.clouds-rate__item.swiper-slide
            .clouds-rate__img
              picture
                img(src="static/images/content/clouds/box.png" width="241", height="234", alt="Изображение")
            p.clouds-rate__desc Битрикс24 Лицензия Интернет-магазин + CRM
            span.clouds-rate__price 159 000 ₽
          li.clouds-rate__item.swiper-slide
            .clouds-rate__img
              picture
                img(src="static/images/content/clouds/box.png" width="241", height="234", alt="Изображение")
            p.clouds-rate__desc Битрикс24 Лицензия Интернет-магазин + CRM
            span.clouds-rate__price 229 000 ₽
          li.clouds-rate__item.swiper-slide
            .clouds-rate__img
              picture
                img(src="static/images/content/clouds/box.png" width="241", height="234", alt="Изображение")
            p.clouds-rate__desc Битрикс24 Лицензия Интернет-магазин + CRM
            span.clouds-rate__price 349 000 ₽
          li.clouds-rate__item.swiper-slide
            .clouds-rate__img
              picture
                img(src="static/images/content/clouds/box.png" width="241", height="234", alt="Изображение")
            p.clouds-rate__desc Битрикс24 Лицензия Интернет-магазин + CRM
            span.clouds-rate__price 109 000 ₽
        .clouds-rate__pagination
      .clouds-rate__navigation
          button.clouds-rate__nav.clouds-rate__nav--prev
            +icon("icon-chevron-clouds", "", "24", "24")
          button.clouds-rate__nav.clouds-rate__nav--next
            +icon("icon-chevron-clouds", "", "24", "24")
      a.clouds-rate__link.clouds-rate__link--mobile(href="#") Ко всем тарифам
