section.clouds-review
  .container
    .clouds-review__content
      h2.clouds-review__title Отзывы наших клиентов
      .clouds-review__img.clouds-review__img--mobile
        picture
          img(src="static/images/content/clouds/review-mobile.png" width="280", height="206", alt="Изображение")
      .clouds-review__img.clouds-review__img--desktop
        picture
          img(src="static/images/content/clouds/review-desktop.png" width="1024", height="235", alt="Изображение")
