section.clouds-technical
  .container
    .clouds-technical__content
      .clouds-technical__inner
        h2.clouds-technical__title Технические требования для переноса
        p.clouds-technical__text Для перехода на коробочную версию Битрикс24 необходимо позаботиться о наличии сервера для развертывания. Возможен один из двух вариантов:
        ul.clouds-technical__list
          li.clouds-technical__item
            h3.clouds-technical__heading Виртуальный сервер (VPS)
            p.clouds-technical__desc Доступен для аренды у провайдера хостинга, предоставляющего такие услуги. Вы можете выбрать тариф, соответствующий необходимой вычислительной мощности, объему дискового пространства и оперативной памяти.
          li.clouds-technical__item
            h3.clouds-technical__heading Выделенный сервер (dedicated)
            p.clouds-technical__desc Мощный сервер, который полностью предоставляется в аренду клиенту, но расположен он в дата-центре провайдера. Оптимальный вариант для небольших и средних компаний, которые хотят иметь стабильную работу Битрикс24 независимо от внешних факторов.
      .clouds-technical__img
        picture
          img(src="static/images/content/clouds/men.png" width="280", height="209", alt="Изображение")
