section.landing-stages.migration-stages.crm-dev-stages.clouds-work
  .container
    .landing-stages__content
      h2.landing-stages__title Этапы перехода из облака в коробку
    .landing-stages__tabs(data-tabs='parent', data-delay='150')
      ul.landing-stages__controls(data-tabs='controls')
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-01", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Подготовительный этап
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-02", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Приобретение лицензии
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-03", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Установка
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-04", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Настройка
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-05", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Тестирование
        li.landing-stages__control
          button.landing-stages__control-button(type='button', data-tabs='control')
            +icon("icon-landing-06", "landing-stages__number", "38", "30")
            span.landing-stages__control-head Перенос данных
      ul.landing-stages__content(data-tabs='content')
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Выбор подходящего тарифа следует осуществлять с учетом не только инструментов, в которых компания нуждается, но и с учетом количества сотрудников, использующих CRM, а также не забывая о перспективах роста и развития компании в обозримом будущем.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Выбор подходящего тарифа следует осуществлять с учетом не только инструментов, в которых компания нуждается, но и с учетом количества сотрудников, использующих CRM, а также не забывая о перспективах роста и развития компании в обозримом будущем.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.
        li.landing-stages__element(data-tabs='element')
          .landing-stages__description
            .landing-stages__text
              p Настройка новой системы, согласование необходимых изменений в принципах работы продукта.
              p Базовая настройка портала и демонстрация работы группе внедрения клиента, тестирование работы интеграций.

