section.contacts-requisites
  .container
    .contacts-requisites__content
      h2.contacts-requisites__title Наши реквизиты:
      .contacts-requisites__inner
        dl.contacts-requisites__list
          .contacts-requisites__item
            dt.contacts-requisites__key ООО “Интегратор”
          .contacts-requisites__item
            dt.contacts-requisites__key ИНН
            dd.contacts-requisites__value 7810713926
          .contacts-requisites__item
            dt.contacts-requisites__key ОГРН
            dd.contacts-requisites__value 1177847366234
          .contacts-requisites__item
            dt.contacts-requisites__key КПП
            dd.contacts-requisites__value 781001001
          .contacts-requisites__item
            dt.contacts-requisites__key Р/С
            dd.contacts-requisites__value 40702810632340001486 ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК" г. Санкт-Петербург
        dl.contacts-requisites__list.contacts-requisites__list--yellow
          .contacts-requisites__item
            dt.contacts-requisites__key К/С
            dd.contacts-requisites__value 30101810600000000786
          .contacts-requisites__item
            dt.contacts-requisites__key БИК
            dd.contacts-requisites__value 044030786
          .contacts-requisites__item
            dt.contacts-requisites__key ОКАТО
            dd.contacts-requisites__value 40284000000
          .contacts-requisites__item
            dt.contacts-requisites__key ОКТМО
            dd.contacts-requisites__value 40375000000
          .contacts-requisites__item
            dt.contacts-requisites__key Юр.адрес:
            dd.contacts-requisites__value 196191, город Санкт-Петербург, Краснопутиловская улица, дом 90 литер а, помещение 3-н оф. 14а
