footer.footer
  .container
    .footer__content
      .footer__top
        h2.footer__title Свяжитесь с нами:
        ul.footer__social
          li.footer__social-item
            a.footer__social-link(href="#" aria-label="Ссылка на Whats App")
              +icon("icon-whatsapp-purple", "footer__social-icon", "30", "30")
          li.footer__social-item
            a.footer__social-link(href="#" aria-label="Ссылка на Telegram")
              +icon("icon-telegramm-purple", "footer__social-icon", "30", "30")
          li.footer__social-item
            a.footer__social-link(href="#" aria-label="Ссылка на Вконтакте")
              +icon("icon-vk-purple", "footer__social-icon", "30", "30")
          li.footer__social-item
            a.footer__social-link(href="#" aria-label="Ссылка на YouTube")
              +icon("icon-youtube-purple", "footer__social-icon", "30", "30")
      ul.footer__contacts
        li.footer__contacts-item
          span.footer__contacts-city Санкт-Петербург
          a.footer__contacts-link(href="tel:+78122092797") +7 #[span.footer__contacts-link--yellow (812)] 209 27 97
        li.footer__contacts-item
          span.footer__contacts-city Москва
          a.footer__contacts-link(href="tel:+74951092797") +7 #[span.footer__contacts-link--yellow (495)] 109 27 97
        li.footer__contacts-item
          span.footer__contacts-city Барнаул
          a.footer__contacts-link(href="tel:+7385595097") +7 #[span.footer__contacts-link--yellow (385)] 59 50 97
        li.footer__contacts-item
          span.footer__contacts-city Екатеринбург
          a.footer__contacts-link(href="tel:+73433022797") +7 #[span.footer__contacts-link--yellow (343)] 302 27 97
        li.footer__contacts-item
          span.footer__contacts-city Ростов-на-Дону
          a.footer__contacts-link(href="tel:+78633092797") +7 #[span.footer__contacts-link--yellow (863)] 309 27 97
        li.footer__contacts-item
          span.footer__contacts-city Новосибирск
          a.footer__contacts-link(href="tel:+73833122797") +7 #[span.footer__contacts-link--yellow (383)] 312 27 97
      include ../nav/footer-nav
  .footer__copy
    .container
      .footer__copy-box
        p.footer__copy-copyright © 2021 Все права защищены.
        p.footer__copy-text Интегратор — внедрение CRM Интегратор, 2010-2021
